@use "src/style/mixin-core" as mixin;
@import "src/app/modules/lunar-hq/my-server/rules/rules.component";


.back-button {
  width: 100%;
}

.held-wrapper {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.light--70 {
  color: var(--light-70) !important;
}

.add-dark-50 {
  background: var(--dark-50) !important;
}
