@use "src/style/mixin-core" as mixin;

.header-container {
  height: mixin.toRem(64);
  width: 100%;
  background: var(--bg-dark);
  display: flex;
  z-index: 999;
  padding-left: 24px;
  padding-right: 24px;
  position: fixed;
}

.header-smd-container {
  display: none;

  .logo-smd-wrapper {
    width: mixin.toRem(187);
    height: mixin.toRem(36);
    object-fit: cover;
  }
}

.logo-wrapper {
  width: 180px;
  height: 36px;
}

.logo-container {
  width: 54px;
  height: 54px;
}

.divider {
  margin-top: auto;
  margin-bottom: auto;
  height: 24px;
  width: 1px;
  background: var(--light-20);

  &.sm {
    height: 11px;
  }

  //margin-left: 16px;
  //margin-right: 24px;
}

.search-container {
  height: 40px;
  width: 40px;
  background-color: var(--dark-50);
  border-radius: 0 8px 0 8px;
  text-align: center;
}

.right-wrapper {
  height: 64px;
}

.lg-container {
  flex: 2
}

.sm-container {
  flex: 1;
}

.profile-container {
  width: 192px;
  //height: 32px;
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin-top: 4px;
  cursor: pointer;
  @include mixin.notch(8px);
}

.log-out-container {
  width: mixin.toRem(120);
  height: mixin.toRem(32);
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin-top: 4px;
  cursor: pointer;
  @include mixin.notch(8px);

  &:hover > div, &:hover > ion-icon {
    color: var(--secondary);
  }
}

.profile-img {
  width: 32px;
  height: 32px;
  @include mixin.notch(8px);

  &.add-notch {
    opacity: 0.5;
  }
}

.settings-container {
  height: 32px;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

@media only screen and (max-width: 768px) {
  .header-container {
    display: none !important;
  }

  .header-smd-container {
    display: block;
    position: fixed;
    width: 100%;
    background: var(--bg-dark);
    padding-top: mixin.toRem(14);
    padding-left: mixin.toRem(24);
    padding-bottom: mixin.toRem(12);
    z-index: 999;
  }
}

ul li ul {
  visibility: hidden;
  height: 2.375rem;
  opacity: 0;
  min-width: 5rem;
  width: max-content;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;

  &:not(hover),
  &:not(focus) {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

ul li ul:not(hover),
ul li ul:not(focus) {
  visibility: hidden;
  opacity: 0;
  display: none;
}
