<app-why-header-side-nav
  [activeTab]="'DASHBOARD'"
  [profileObj]="setHeaderValue()"
  (profileClick)="navigateToProfile()">

  <div *ngIf="profileObjError">
    <div>
      <label class="app-why-lbl f16 error ft-bold">
        Failed to load data.
      </label>
    </div>
    <div>
      <label class="app-why-lbl f16 light-70">
        Please contact the GraviDao team or try refreshing the page.
      </label>
    </div>
  </div>

  <section class="pd-bottom-48" id="dashboardContainer" #dashboardContainer *ngIf="profileObj">
    <div class="d-flex">
      <div *ngIf="profileObj?.discordProfileImage">
        <img class="discord-img-wrapper" [src]="profileObj?.discordProfileImage" alt="" imgFallback>
      </div>
      <div class="pd-left-16 d-flex flex-column">
        <div>
          <label class="app-why-lbl f28 light ft-bold">{{profileObj?.discordName}}</label>
        </div>
        <div class="pd-top-8">
          <label class="app-why-lbl f16 light-50 ft-lato">Hi there {{profileObj?.discordStatus}}</label>
        </div>
      </div>
    </div>

    <div class="d-flex pd-top-16">
      <div class="link-wallet-container">
        <div class="d-flex justify-content-end">
          <label class="app-why-lbl ft-lato light-50 text-uppercase">linked</label>
        </div>
        <div class="d-flex justify-content-end">
          <label class="app-why-lbl ft-lato light-50 text-uppercase">wallets</label>
        </div>
      </div>
      <div class="pd-left-16 d-flex align-items-center"
           *ngFor="let walletObj of profileObj?.accountWallets; let isLast = last ">
        <img [src]="walletObj?.blockchainImageUrl" alt="blockchainImage" imgFallback
             class="app-why-icon ic20 mr-right-8">
        <label class="app-why-lbl f14 ft-lato light-50">
          {{walletObj?.address | longTextPipe}}
        </label>
        <div [ngClass]="{'wallet-divider': !isLast}"></div>
      </div>
    </div>

    <div class="pd-top-16">
      <app-why-cta-three
        [leftIconType]="'cog-outline'"
        [btnLabel]="'MANAGE PROFILE'"
        (click)="navigateToProfile()">
      </app-why-cta-three>
    </div>

    <div class="pd-top-40 pd-bottom-40">
      <div class="horizontal-divider light-20"></div>
    </div>

    <div class="pd-top-24 d-flex">
      <div *ngFor="let obj of userDataObj" class="tile-wrapper">
        <div class="tile-container">
          <div class="app-why-lbl f28 ft-bold success">
            {{obj.value[0]}} <span *ngIf="obj.value[1] >=0" class="light-50">of {{obj.value[1]}}</span>
          </div>
          <div class="app-why-lbl ft-lato  success">
            {{obj.label}}
          </div>
        </div>
      </div>
    </div>

    <article class="mr-top-8 d-flex mr-bottom-8">
      <article class="server-container pd-top-24 pd-lr-40">

        <div class="d-flex justify-content-between align-items-center">
          <div>
            <label class="app-why-lbl f16 ft-bold light">MY SERVERS [{{profileObj?.discordServers.length}}]</label>
          </div>
          <div>
            <app-why-cta-three
              [btnClass]="cssClass.cta3PrimaryNorm"
              [iconClass]="cssClass.cta3Primary14Icon"
              [iconType]="'chevron-forward-outline'"
              (click)="navigateToServers()"
              [btnLabel]="'VIEW ALL'"></app-why-cta-three>
          </div>
        </div>

        <div class="mr-top-8 horizontal-divider light-20 mr-bottom-48"></div>

        <div>
          <div class="d-flex justify-content-between pd-bottom-24" *ngFor="let serverObj of profileObj?.discordServers">
            <div class="d-flex align-items-center">
              <div class="pd-left-4">
                <img class="server-logo-container" [src]="serverObj?.discordServerImage" alt="server-logo" imgFallback/>
              </div>
              <div class="pd-left-12 pd-right-16">
                <label class="app-why-lbl f16 light-70 long-text">{{serverObj?.discordServerName}}</label>
              </div>
            </div>
            <div class="d-flex align-items-center" [ngClass]="{'mr-left-22': !serverObj?.userIsAdmin}">
              <app-why-cta-three
                [parentClass]="'light-70-hover'"
                [btnClass]="cssClass.cta3Light50F12"
                (click)="serverDetails(serverObj)"
                [iconClass]="cssClass.cta3Light5014Icon"
                [iconType]="'chevron-forward-outline'"
                [btnLabel]="serverObj?.userIsAdmin ? 'MANAGE' : 'VIEW'"></app-why-cta-three>
            </div>
          </div>
        </div>
      </article>

      <article class="rule-container mr-left-8 pd-top-24 pd-lr-40 pd-bottom-24">

        <div class="d-flex justify-content-between align-items-center">
          <div>
            <label class="app-why-lbl f16 ft-bold light text-uppercase">
              Held Roles [{{profileObj?.rules.length}}]</label>
            <!--              Discord rules [{{profileObj?.rules.length}}]</label>-->
          </div>
          <div *ngIf="profileObj?.rules?.length > 0">
            <app-why-cta-three
              [btnClass]="cssClass.cta3PrimaryNorm"
              [iconClass]="cssClass.cta3Primary14Icon"
              (click)="navigateToRoles()"
              [iconType]="'chevron-forward-outline'"
              [btnLabel]="'View All'"></app-why-cta-three>
          </div>
        </div>

        <div class="mr-top-8 horizontal-divider light-20 mr-bottom-48"></div>

        <div class="mr-top-48 empty-info-container mr-bottom-48" *ngIf="profileObj?.rules?.length === 0">
          <div class="app-why-lbl secondary ft-lato mr-bottom-8">
            FIND YOUR COMMUNITIES
          </div>
          <label class="app-why-lbl f14 light-70">
            Lunar HQ is all about making communities work. It looks like you don't hold any community roles yet but
            we'll keep checking and place them here when we find them.
          </label>
        </div>

        <div class="d-flex mr-bottom-16" *ngIf="profileObj?.rules?.length > 0">
          <div class="width-270"><label class="app-why-lbl light-50 ft-lato text-uppercase pd-left-60">Role name</label></div>
          <div class="width-84"><label class="app-why-lbl light-50 ft-lato text-uppercase">Population</label></div>
          <div class="width-118"><label class="app-why-lbl light-50 ft-lato text-uppercase">Chain</label></div>
          <div class="width-94"></div>
        </div>

        <div class="server-list-wrapper">
          <div class="rule-details-wrapper" *ngFor="let ruleObj of profileObj?.rules">
            <div class=" width-270 rules-item-name d-flex align-items-center">
              <div>
                <img class="mr-left-16 discord-server-image-container" [src]="ruleObj?.discordServerImage"
                     alt="discordServerImage">
              </div>
              <div class="pd-left-16">
                <div>
                  <span class="app-why-lbl f16 ft-500 light add-rule-hover"
                        (click)="showRule(ruleObj)">{{ruleObj?.roleName}}</span>
                  <span class="mr-left-2 app-why-lbl f10 ft-500 error letter-spacing-02 text-uppercase"
                        *ngIf="!ruleObj?.active">
                    Paused
                  </span>
                </div>
                <div class="app-why-lbl f10 ft-lato light-50 letter-spacing-02 text-uppercase">
                  {{ruleObj?.discordServerName}}
                </div>
              </div>
            </div>
            <div class="vertical-divider ht42 light-20"></div>
            <div class="width-84 pd-left-15">
              <label class="app-why-lbl f16 light ft-bold">{{ruleObj?.population}}</label>
            </div>
            <div class="vertical-divider ht42 light-20"></div>
            <div class="width-118 pd-left-15 d-flex justify-content-between">
              <div>
                <label class="app-why-lbl f16 light ft-bold">{{ruleObj?.blockchainName === 'polygon-mainnet' ? 'Polygon' : ruleObj?.blockchainName}}</label>
              </div>
              <div class="pd-right-15">
                <img class="chain-logo-container" [src]="ruleObj?.blockchainImage" alt="chain-logo">
              </div>
            </div>
            <div class="vertical-divider ht42 light-20"></div>
            <div class="pd-left-18 width-84">
              <app-why-cta-three
                [parentClass]="'light-70-hover'"
                [btnClass]="cssClass.cta3Light50F12"
                [iconClass]="cssClass.cta3Light5014Icon"
                (click)="showRule(ruleObj)"
                [iconType]="'chevron-forward-outline'"
                [btnLabel]="'View'"></app-why-cta-three>
            </div>
          </div>
        </div>
        <!--<div class="add-fade-effect">
        </div>-->
      </article>
    </article>

    <app-why-lunar-hq-recent-polls
      (openPoll)="navigateToPoll($event)"
      [buttonLabel]="'VIEW ALL'"
      (deletePollEvent)="getProfileDetails()"
      [currentDateTime]="currentDateTime"
      [pollArrayObj]="profileObj?.proposals"></app-why-lunar-hq-recent-polls>

    <app-why-lunar-hq-recent-announcements
      [announcementArrayObj]="profileObj?.announcements"
      (refreshList)="getProfileDetails()"
      (viewAnnouncement)="previewAnnouncement($event)"
      (navigateToAnnouncementEvent)="navigateToAnnouncement()"
      class="mr-top-8"></app-why-lunar-hq-recent-announcements>

    <div class="mr-top-40 mr-bottom-80 d-flex justify-content-center">
      <app-why-cta-three
        [btnClass]="cssClass.cta3BtnLabel + ' btn-hover'"
        [btnLabel]="'BACK TO TOP'"
        [leftIconType]="'chevron-up-outline'"
        [iconClass]="cssClass.cta3Icon + ' btn-hover'"
        [parentClass]="'flex-column'"
        (click)="goToTop()">
      </app-why-cta-three>
    </div>

    <div class="rules-view" [hidden]="!viewRule">
      <app-why-lunar-hq-rules-view [ruleObj]="ruleObj"
                                   (closeRule)="closeView()"
                                   (actionType)="ruleAction($event)"
                                   (updateRole)="updateRole($event)"></app-why-lunar-hq-rules-view>
    </div>

    <div class="rules-view" [hidden]="!viewAnnouncement">
      <app-why-lunar-hq-preview-announcement
        (closePreview)="closePreview()"
        (starAnnouncementEvent)="starAnnouncement($event)"
        [announcementObj]="selectedAnnouncementObj"></app-why-lunar-hq-preview-announcement>
    </div>
  </section>
</app-why-header-side-nav>
