@use "src/style/mixin-core" as mixin;

.discord-img-wrapper {
  height: 64px;
  width: 64px;
  object-fit: cover;
  @include mixin.notch(8px);
}

.link-wallet-container {
  width: 64px;
  text-align: end;
}

.tile-container {
  //max-width: mixin.toRem(300);
  width: 100%;
  height: mixin.toRem(108);
  @include mixin.bg--wrapper;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.discord-server-image-container {
  width: 2rem;
  height: 2rem;
  clip-path: polygon(0% 0px, 0px 0%, calc(100% - 8px) 0%, 100% 8px, 100% 100%, 100% 100%, 8px 100%, 0 calc(100% - 8px));
}

.tile-wrapper {
  //padding-right: mixin.toRem(8);
  flex: 1;
  width: 20%;
  //max-width: mixin.toRem(300);
  min-width: mixin.toRem(210);

  &:not(:first-child) {
    padding-left: mixin.toRem(4);
  }

  &:not(:last-child) {
    padding-right: mixin.toRem(4);
  }
}

.light-50 {
  color: var(--light-50) !important;
}

.server-container {
  @include mixin.bg--wrapper;
  width: 40%;
  min-width: mixin.toRem(354);
  //height: mixin.toRem(658);
  max-width: 30rem;
  //max-height: mixin.toRem(658);
  //min-height: mixin.toRem(300);
}

.rule-container {
  @include mixin.bg--wrapper;
  width: 100%;
  min-width: mixin.toRem(718);
  //max-height: mixin.toRem(658);
  //min-height: mixin.toRem(300);
  //height: mixin.toRem(658);
}

.rule-details-wrapper {
  display: flex;
  @include mixin.notch(8px);
  background: var(--dark-20);
  width: 100%;
  min-width: mixin.toRem(638);
  height: mixin.toRem(56);
  margin-bottom: mixin.toRem(8);
  align-items: center;

}

.server-logo-container {
  width: mixin.toRem(32);
  height: mixin.toRem(32);
  @include mixin.notch(8px);
}

.width-270 {
  width: 40%;
  min-width: mixin.toRem(240);
}

.width-84 {
  width: 10%;
  min-width: mixin.toRem(84);
}

.width-118 {
  width: 40%;
  min-width: mixin.toRem(118);
}

.chain-logo-container {
  width: 24px;
  height: 24px;
}

.server-list-wrapper {
  //height: auto;
  //height: mixin.toRem(504);
  max-height: mixin.toRem(504);
  overflow-y: auto;
  overflow-x: hidden;
}

.add-fade-effect {
  position: relative;
  bottom: 5rem;
  height: 6rem;
  background: linear-gradient(180deg, rgba(15, 12, 16, 0) 0%, #0F0C10 100%);
}

.wallet-divider {
  width: 1px;
  height: mixin.toRem(20);
  background: var(--light-50);
  margin-left: 16px;
}

.long-text {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10vw;
}

.feature-link {
  color: var(--primary);
}

.mascot {
  margin-top: 20px;
  width: mixin.toRem(150);
  height: mixin.toRem(150);
}
