<section>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
      <!--<div class="d-flex align-items-center add-transition logo-wrapper"
           [ngClass]="[isToggled ? 'pd-left-34': 'justify-content-center']">
        <div>
          <img class="icon dark-50" src="/assets/img/png/Icon-M-light.png" alt="">
        </div>
        <div *ngIf="isToggled">
          <span class="pd-left-20 app-lbl f22 light-50">MAPIMO</span>
        </div>
      </div>-->
      <ul class="list-unstyled components mr-bottom-5 pd-top-36">
        <li *ngFor="let sideNav of sideNavList; let i = index;"
            class="show-cursor" (click)="navigate(sideNav.title, i, sideNav.subMenu)"
            [ngClass]="{'no-height': sideNav.subMenu}">
          <div class="d-flex flex-column" style="width: 100%">
            <div class="d-flex align-items-center"
                 [ngClass]="{'active-container': (activeTab === sideNav.title), 'justify-content-center': !isToggled}">
              <div class="active-selector" *ngIf="activeTab.toLocaleLowerCase() === sideNav.title.toLocaleLowerCase()">
              </div>
              <ion-icon class="app-why-icon ic14 light-70"
                        [ngClass]="{'secondary': activeTab.toLocaleLowerCase() === sideNav.title.toLocaleLowerCase()}"
                        name="{{setIcon(sideNav.title)}}"></ion-icon>
              <span class="text-capitalize text-container"
                    [ngClass]="{'active-color': activeTab.toLocaleLowerCase() === sideNav.title.toLocaleLowerCase()}">
                {{sideNav.title}}
              </span>
              <div>
                <ion-icon class="icon ic12 light-70 pd-0 mr-left-16"
                          *ngIf="sideNav.subMenu && isToggled"
                          [ngClass]="{'light': activeTab.toLocaleLowerCase() === sideNav.title.toLocaleLowerCase(), 'reverse-icon': !toggle[i]}"
                          name="caret-up-outline"></ion-icon>
              </div>

            </div>
            <div>
              <ul *ngIf="sideNav.subMenu && isToggled" [ngClass]="toggle[i] ? 'show': 'hide'" class="pd-0">
                <li *ngFor="let subMenuObj of sideNav.subMenu"
                    class="submenu-list"
                    (click)="subMenu(subMenuObj.title, i)">
                  <span class="text-capitalize pd-left-78"
                        [ngClass]="{'active-sub-menu': activeSubMenuTab === subMenuObj.title}">{{subMenuObj.title}}</span>
                </li>
              </ul>
            </div>
          </div>
        </li>


        <!--<li class="log-out show-cursor">
          <ion-icon class="icon light-70 pd-left-40"
                    [ngClass]="{'primary': activeTab === 'log-out'}"
                    name="{{setIcon('log-out')}}"></ion-icon>
          <span class="input-text-label f14 light-50" (click)="showLogOut()">Log Out</span>
        </li>-->
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="">
      <div class="d-flex justify-content-between align-items-center toggle-wrapper">
        <div class="pd-left-24 toggle-container" (click)="toggleMenu()">
          <ion-icon *ngIf="isToggled" class="icon primary show-cursor"
                    name="chevron-back-circle-outline"></ion-icon>
          <ion-icon *ngIf="!isToggled" class="icon primary show-cursor"
                    name="chevron-forward-circle-outline"></ion-icon>
        </div>
        <div class="pd-right-16">
          <!--<app&#45;&#45;why-cta-three
            [btnLabel]="'switch theme'"
            (click)="switch()"
            [btnClass]="cssClass.cta3Underline">
          </app&#45;&#45;why-cta-three>-->
        </div>
      </div>
      <section class="content-wrapper" [ngClass]="{'content-wrapper-toggled': !isToggled}">
        <ng-content></ng-content>
      </section>
    </div>
  </div>
</section>



