@use "src/style/mixin-core" as mixin;

$font-primary: Jura, sans-serif;
$primary: var(--primary-50);
$black: #0a0000;
$white: #fafafa;

body {
  font-family: Jura, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: lighten($black, 50%);
}

a {
  transition: .3s all ease;
  color: var(--primary);

  &:hover, &:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
  }
}

.submenu-list {
  min-height: 24px !important;
}

.active-sub-menu {
  color: var(--secondary) !important;
}

.active-bg {
  background: var(--primary-50);
}

button {
  transition: .3s all ease;

  &:hover, &:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: $font-primary;
  color: $black;
}


.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

//HEADING SECTION
.heading-section {
  font-size: 28px;
  color: $black;

  small {
    font-size: 18px;
  }
}

//COVER BG
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


//SIDEBAR
.wrapper {
  width: 19vw;
}

.hide {
  display: none;
}


#sidebar {
  margin-top: 64px;
  position: fixed;
  height: 100%;
  min-width: 240px;
  background: var(--dark-70);
  color: #fff;
  transition: all 0.4s;

  * {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .logo {
    display: block;
    color: $white;
    font-weight: 900;
    padding: 10px 30px;
    transition: .4s all ease;
  }

  ul.components {
    padding-left: 0 !important;
    transition: .4s all ease;
  }

  .main-side {
    height: calc(100vh - 230px);
    overflow-y: overlay;
  }

  ul {
    li {
      font-size: 16px;
      //padding-left: 34px;
      //padding-bottom: 20px;
      //padding-top: 20px;
      display: flex;
      align-items: center;
      min-height: 38px;

      > ul {
        margin-left: 10px;

        li {
          font-size: 14px;
        }
      }

      span, label {
        padding-left: 8px;
        font-size: var(--font-size-14);
        line-height: var(--font-size-22);
        color: var(--light-70);
        font-family: Jura, sans-serif;
        font-weight: 500;
        @include mixin.media-breakpoint-down(md) {
          display: block;
        }
      }

      ion-icon {
        padding-left: 24px;
      }

      .arrow {
        padding: 8px 8px 8px 8px;

        &:hover {
          width: 14px;
          height: 14px;
          padding: 7px 7px 7px 7px;
        }
      }
    }
  }


  @include mixin.media-breakpoint-down(md) {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
    &.active {
      margin-left: 0 !important;
    }
  }
}


a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#sidebarCollapse {
  span, label {
    @include mixin.media-breakpoint-down(md) {
      display: none;
    }
  }
}

.footer {
  padding: 0 30px;
  @include mixin.media-breakpoint-down(md) {
    display: none;
  }
}

#content {
  width: calc(100vw - 240px);
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
  margin-left: 240px;
}

.content-mobile {
  margin-left: 0px !important;
  width: 100vw !important;
  margin-top: 10vh;
}


.logo-container {
  width: 96px;
  height: 48px;
  padding: 0;
  transition: .3s all ease;
}

.add-transition {
  transition: .3s all ease;
}

.add-bg {
  background: var(--light-70);
}

.active-color {
  color: var(--secondary) !important;
}

.active-container {
  background: var(--light-20);
  box-shadow: 0 16px 20px -8px rgba(0, 0, 0, 0.04);
  height: 38px;
  //padding-bottom: 8px;
  //padding-top: 8px;
}

.add-pd-lr-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.log-out {
  position: absolute;
  bottom: 0;
  min-width: 5.6vw;
}

.margin-top-5 {
  margin-top: 5vh;
}

.active-selector {
  background: var(--light);
  width: 2px;
  height: 40px;
  position: absolute;
  left: 1px;
}

.header-one-container {
  position: fixed;
  right: 0;
}

.add-full-width {
  width: 94vw;
}

.width-100 {
 width: 100%;
}

.toggle-width {
  width: 87vw;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.toggle-container {
  height: 64px;
  align-items: center;
  display: flex;
}

.toggle-wrapper {
  height: 64px;
}

.logo-wrapper {
  height: 64px;
}

.min-toggle {
  height: 54px !important;
}

.content-wrapper {
  width: calc(100vw - 240px);
  padding-left: mixin.toRem(60);
  padding-right: mixin.toRem(60);
  padding-top: mixin.toRem(56);
  //margin: auto;
  //display: flex;
  //justify-content: center;
}

.content-wrapper-mobile {
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.content-wrapper-toggled {
  width: calc(100vw - 5.6vw);
}

.no-height {
  min-height: 24px;
  height: auto !important;
}

.pd-0 {
  padding-left: 0 !important;
}

.text-container {
  width: 148px;
}

.reverse-icon {
  transform: rotate(180deg);
}

.add--pd-left {
  padding-left: 46px !important;
}


.add--pd-left-34 {
  padding-left: 34px !important;
}

.add-pd-left-8 {
  padding-left: 8px !important;
}

.nest-label {
  color: var(--light-50);
  font-size: var(--font-size-14);
  line-height: var(--font-size-22);
}


.lunar-hq-wrapper {
  position: absolute;
  bottom: 132px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.beta {
  position: absolute;
  bottom: 63px;
  width: 100%;
  background-color: var(--light-20);
  color: var(--secondary);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.min-ht-22 {
  min-height: 22px !important;
}
