<div class="server-recent-polls mr-top-8 d-flex flex-column pd-lr-40 pd-top-24">
  <div class="recent-poll-header-title d-flex justify-content-between">
    <div class="app-why-lbl f16 ft-bold light">
      RECENT POLLS
    </div>
    <div class="polls d-flex- app-why-lbl f12 ft-bold primary" *ngIf="pollArrayObj?.length > 0">
      <app-why-cta-three
        [btnClass]="cssClass.cta3PrimaryNorm"
        [iconClass]="cssClass.cta3PrimaryIconNorm"
        [iconType]="'chevron-forward-outline'"
        (click)="navigateToPolls()"
        [btnLabel]="buttonLabel"></app-why-cta-three>
    </div>
  </div>
  <div class="horizontal-divider light-20 mr-top-8"></div>
  <div class="poll-items pd-top-48 d-flex flex-column">
    <div *ngFor="let pollObj of pollArrayObj?.slice(0,2)">
      <app-why-lunar-hq-poll-cell [pollObj]="pollObj"
                                  (deletePollEvent)="deletePoll()"
                                  (previewPollEvent)="previewPoll($event)"
                                  [hasPermission]="hasPermission"
                                  (editPollEvent)="editPoll($event)"
                                  [currentDateTime]="currentDateTime"></app-why-lunar-hq-poll-cell>
    </div>
  </div>

  <div class="empty-info-container" *ngIf="pollArrayObj?.length === 0">
    <div class="app-why-lbl secondary ft-lato mr-bottom-8 text-uppercase">
      Make your vote count
    </div>
    <label class="app-why-lbl f14 light-70">
      Participating in polls is at the heart of community governance. When you create a poll or are eligible to vote in
      one it will appear here.
    </label>
  </div>
</div>

<div class="preview-container" *ngIf="viewPreview">
  <app-why-lunar-hq-preview-poll
    [pollObj]="pollObj"
    [isReadonly]="true"
    (closeEvent)="viewPreview = false"></app-why-lunar-hq-preview-poll>
</div>
