<section class="admin-container">
  <div class="admin-back-container">
    <div class="pd-left-24">
      <app-why-cta-three
        [btnClass]="cssClass.cta3Primary + ' backBtn'"
        [btnLabel]="'Back'"
        [leftIconType]="'chevron-back'"
        [iconClass]="cssClass.cta3PrimaryIcon"
        (click)="navigateBack()">
      </app-why-cta-three>
    </div>
  </div>

  <article class="mr-top-48 d-flex justify-content-center">
    <div class="form-wrapper">

      <div>
        <label class="app-why-lbl f22 light ft-lato ft-bold">Forgot Password?</label>
      </div>
      <div>
        <label class="app-why-lbl f22 light ft-lato">Let's get you a new one</label>
      </div>
      <div class="pd-top-24">
        <label class="app-why-lbl f14 light ft-lato">
          Please confirm your email address so we can send you the access code you need to reset your password.
        </label>
      </div>
      <div class="form-group mr-top-48">
        <input type="text" id="name" class="form-control app-why-floating-input"
               placeholder=" " [(ngModel)]="email">
        <label class="app-why-floating-lbl" for="name">Confirm email ID</label>
      </div>

      <div class="mr-top-64 d-flex justify-content-end">
        <app-why-cta-one
          (clickEvent)="forgotPassword()"
          [cssClass]="cssClass.cta1Sm"
          [btnLabel]="'Next'"></app-why-cta-one>
      </div>

    </div>
  </article>
  <div class="admin-rippler-logo-wrapper">
    <img class="admin-rippler-logo-container" src="/assets/img/svg/Rippler-colour.svg" alt="">
  </div>
</section>
