<div class="rules-view flex flex-nowrap">
  <div class="rules-view-header">
    <div class="close-button mr-top-36 mr-right-24 add-cursor" (click)="closeView()">
      <ion-icon name="close-outline" class="app-why-icon ic24 light-50"></ion-icon>
    </div>
  </div>
  <div class="rules-view-container d-flex flex-column mr-left-40">
    <div class="rules-name-container pd-box-24 d-flex flex-column">
      <div class="rule-name app-why-lbl f10 ft-lato light-50 letter-spacing-02">
        POLL NAME
      </div>
      <div class="rule-title-container pd-top-8 d-flex justify-content-between">
        <div class="rule-title app-why-lbl f16 ft-bold light">
          Fuse Hack Actions
        </div>
        <div class="rule-title d-flex align-items-center">
          <div class="app-why-lbl f12 ft-bold light-70 letter-spacing-047">MORE</div>
          <ion-icon name="chevron-down-outline" class="pd-left-8 app-why-icon ic20 light-70"></ion-icon>
        </div>
      </div>
    </div>
    <div class="rules-content pd-box-24 d-flex flex-column">
      <div class="rules-rule-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
        VOTING SYSTEM
      </div>
      <div class="rules-rule-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
        Voting Style:\ <span>Role Weighted</span>
      </div>
      <div class="rules-rule-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
        TIMINGS
      </div>
      <div class="rules-rule-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
        POLL LOCATION
      </div>
      <div class="rule-item d-flex flex-column mr-top-8">
      </div>
      <div class="rule-item-existing-rule-end app-why-lbl f14 ft-lato light-50">
        &lt;end&gt;
      </div>
    </div>
  </div>
</div>
