<app-why-header-side-nav
  [title]="'ANNOUNCEMENTS'"
  [activeTab]="'ANNOUNCEMENTS'">
  <div class="search-bar">
    <div class="pd-left-24 pd-right-24">
      <app-why-cta-three
        [btnClass]="cssClass.cta3Primary + ' backBtn'"
        [btnLabel]="'Back'"
        [leftIconType]="'chevron-back'"
        [iconClass]="cssClass.cta3PrimaryIcon"
        (click)="navigateBack()">
      </app-why-cta-three>
    </div>
    <div>
      <app-why-search-component></app-why-search-component>
    </div>
    <div>

    </div>
    <div>
      <app-why-cta-one
        [cssClass]="cssClass.cta1Md"
        [iconType]="'file-tray-full'"
        [btnLabel]="'settings'"></app-why-cta-one>
    </div>
  </div>

  <div class="pd-top-56 announcement-container">
    <article class="announcement-wrapper">
      <div class="announcement-container-one">
        <div>
          <img class="announcement-item-image" src="/assets/img/svg/gravidao-logo.svg" alt="GraviDAO">
        </div>
        <div class="pd-left-8">
          <div class="title-wrapper">
            <label class="app-why-lbl f14 ft-bold secondary">GraviDAO</label>
          </div>
          <div class="pd-top-10">
            <label class="app-why-lbl ft-lato light">28 Jul, 2022  |  JUST NOW</label>
          </div>
          <div>
            <label class="app-why-lbl ft-lato light">by json (3,3)</label>
          </div>
        </div>
      </div>
      <div class="announcement-container-two">
        <div>
          <div class="d-flex justify-content-end pd-top-18 pd-right-16">
            <ion-icon class="app-why-icon ic18 light-50" name="resize-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="announcement-container-three">
        <div>
          <ion-icon class="app-why-icon ic18 light-70" name="star-outline"></ion-icon>
        </div>
        <div class="pd-top-22">
          <img class="discord-img-container" src="/assets/img/svg/discord-brands-primary.svg" alt="discord">
        </div>
      </div>
    </article>
  </div>
</app-why-header-side-nav>
