@use "src/style/mixin-core" as mixin;
@import "src/app/modules/lunar-hq/polls/polls.component";

.announcement-container {
  max-width: 68rem;
  @include mixin.bg--wrapper;
  background: var(--dark);
  margin: 4px auto;
}

.announcement-wrapper {
  height: mixin.toRem(122);
  @include mixin.bg--wrapper;
  display: flex;
}

.announcement-container-one {
  @include mixin.bg--wrapper;
  width: mixin.toRem(232);
  height: mixin.toRem(122);
  padding: 22px 24px;
  display: flex;

  .title-wrapper {
    height: 32px;
  }
}

.announcement-container-two {
  @include mixin.bg--wrapper;
  min-width: mixin.toRem(702);
  height: mixin.toRem(122);
  background: var(--dark-50) !important;
  max-width: 65%;
}

.announcement-container-three {
  @include mixin.bg--wrapper;
  width: mixin.toRem(68);
  height: mixin.toRem(122);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}


.announcement-item-image {
  width: mixin.toRem(32);
  height: mixin.toRem(32);
}

.discord-img-container {
  height: mixin.toRem(14);
  width: mixin.toRem(26);
}

.search-bar {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: mixin.toRem(64);
  background-color: var(--dark-50);
  padding: 16px 24px;
  position: fixed;
  width: calc(100vw - 240px);
  margin-top: -3.5rem;
  margin-left: -3.8rem;
}

.preview-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: mixin.toRem(480);
  z-index: 1000;
  background-color: var(--tertiary);
  box-shadow: -(mixin.toRem(16)) mixin.toRem(2) mixin.toRem(18) 0 var(--bg-dark);
}
