<section class="admin-container">
  <div class="admin-back-container">
    <div class="pd-left-24">
      <app-why-cta-three
        [btnClass]="cssClass.cta3Primary + ' backBtn'"
        [btnLabel]="'Back'"
        [leftIconType]="'chevron-back'"
        [iconClass]="cssClass.cta3PrimaryIcon"
        (click)="navigateBack()">
      </app-why-cta-three>
    </div>
  </div>

  <form [formGroup]="resetPasswordForm" class="mr-top-48 d-flex justify-content-center"
        (ngSubmit)="resetPassword()">
    <div class="form-wrapper">

      <div>
        <label class="app-why-lbl f22 light ft-lato ft-bold">We sent you an access code!</label>
        <!--        <label class="app-why-lbl f22 light ft-lato ft-bold">Forgot Password?</label>-->
      </div>
      <!--<div>
        <label class="app-why-lbl f22 light ft-lato">We’ve sent you an access code</label>
      </div>-->
      <div class="pd-top-8">
        <label class="app-why-lbl f14 light ft-lato">
          <!--Please enter the access code we have emailed you to verify your account, and create your new memorable
          password.-->
          Please enter the access code we emailed you to verify account, and create your new memorable password.

        </label>
      </div>
      <div class="form-group mr-top-48">
        <input type="text" id="accessCode" class="form-control app-why-floating-input"
               placeholder=" " formControlName="accessCode">
        <label class="app-why-floating-lbl" for="accessCode">Enter access code</label>
      </div>
      <div class="mr-top-8 d-flex justify-content-center">
        <app-why-cta-three [btnClass]="cssClass.cta3Light50F12"
                           [parentClass]="'light-hover'"
                           [btnLabel]="'Resend access code'"></app-why-cta-three>
      </div>

      <div class="form-group mr-top-48">
        <input type="password" id="password" class="form-control app-why-floating-input"
               placeholder=" " formControlName="password">
        <label class="app-why-floating-lbl" for="password">New password</label>
      </div>

      <div class="form-group mr-top-48">
        <input type="password" id="confirmPassword" class="form-control app-why-floating-input"
               placeholder=" " formControlName="confirmPassword">
        <label class="app-why-floating-lbl" for="confirmPassword">Confirm new password</label>
      </div>

      <div class="mr-top-64 d-flex justify-content-center">
        <app-why-cta-one
          type="submit"
          [cssClass]="(!this.resetPasswordForm.invalid) ? cssClass.cta1 : cssClass.cta1InActive"
          [btnLabel]="'Create new password'"></app-why-cta-one>
      </div>

    </div>
  </form>
</section>
<div class="admin-rippler-logo-wrapper">
  <img class="admin-rippler-logo-container" src="/assets/img/svg/Rippler-colour.svg" alt="">
</div>
