.img-2 {
  width: 86px;
  height: 38px;
  object-fit: cover;
}

.img-1 {
  width: 102px;
  height: 38px;
  object-fit: cover;
}

.info-container {
  height: 33px;
  width: 92px;
  background-color: var(--dark-50);
  display: flex;
  align-items: center;
  justify-content: center;
}


.gr-logo-container {
  width: 192px;
}
