<app-why-header-side-nav [title]="'polls'" [activeTab]="'POLLS'" [activeSubMenuTab]="activeSubMenu"
  (profileClick)="navigateToPolls()">
  <div class="flex flex-nowrap">
    <div class="polls-header">
      <div class="d-flex justify-content-between back-button">
        <div class="pd-left-24 pd-top-21 pd-bottom-21">
          <app-why-cta-three [btnClass]="cssClass.cta3Primary" [btnLabel]="'Back'" [leftIconType]="'chevron-back'"
            [iconClass]="cssClass.cta3PrimaryIcon" (click)="navigateBack()">
          </app-why-cta-three>
        </div>
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <div class="d-flex overflow-hidden">
              <div ngbDropdown container="body">
                <button type="button" class="link-dropdown app-why-lbl f12 ft-bold light" id="dropdownBasic1"
                  ngbDropdownToggle>ASSIGNED [ GRAVIDAO ]
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem class="app-why-lbl f12 ft-bolt dark no-letter-spacing">VIEW ALL</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem class="app-why-lbl f12 ft-bolt dark no-letter-spacing" >ACTIVE</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem class="app-why-lbl f12 ft-bolt dark no-letter-spacing">FINISHED</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem class="app-why-lbl f12 ft-bolt dark no-letter-spacing">PENDING</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem class="app-why-lbl f12 ft-bolt dark no-letter-spacing">DRAFT</button>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-divider mr-left-16 mr-right-15"></div>
          <div class="d-flex align-items-center pd-right-24">
            <app-why-cta-one
              [cssClass]="cssClass.cta1Norm + ' cursor-pointer'"
              [iconType]="'add-circle-outline'"
              [btnLabel]="'CREATE NEW POLL'"
              [iconClass]="cssClass.cta1IconDark"
              [click]="createPolls()">
            </app-why-cta-one>
          </div>
        </div>
      </div>

    </div>
    <div class="polls-container d-flex flex-column mr-top-56">
      <div class="recent-polls mr-top-8 d-flex flex-column pd-lr-40 pd-top-24 mr-bottom-80">
        <div class="recent-poll-header-title d-flex justify-content-between">
          <div class="app-why-lbl f16 ft-bold light">
            Gravidao Polls [ 6 ]
          </div>
          <div class="polls d-flex- app-why-lbl f12 ft-bold primary">
            <app-why-cta-three [btnClass]="cssClass.cta3PrimaryNorm" [iconClass]="cssClass.cta3PrimaryIconNorm"
              [iconType]="'chevron-forward-outline'" (click)="navigateToPolls()" [btnLabel]="'POLLS'">
            </app-why-cta-three>
          </div>
        </div>
        <div class="title-underline mr-top-8"></div>
        <div class="poll-items pd-top-48 pd-bottom-48 d-flex flex-column">
          <div class="poll-item d-flex align-items-center pd-box-8">
            <div class="poll-item-image-container d-flex justify-content-center">
              <img class="poll-item-image" src="/assets/img/svg/gravidao-logo.svg" alt="GraviDAO">
            </div>
            <div class="divider"></div>
            <div class="poll-item-desc d-flex flex-column pd-lr-24">
              <div class="poll-item-name app-why-lbl f16 ft-bold light">
                Monthly GraviDAO Comics for mass market rel…
              </div>
              <div class="poll-item-details pd-top-8 d-flex justify-content-between">
                <div class="poll-item-server app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  GRAVIDAO
                </div>
                <div class="poll-item-detail-info app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  ID : 96 | BY: 0X782L…B36BS1 | 29 JUL, 2022
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-time-status d-flex flex-column align-items-center pd-lr-16">
              <div class="poll-item-time app-why-lbl f16 ft-bold secondary">
                00:08:37
              </div>
              <div class="poll-item-time pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 secondary">
                ACTIVE
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-discord-button pd-left-24 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon src="/assets/img/svg/discord-brands-primary.svg" class="app-why-icon ic18 primary"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold primary">VIEW IN
                DISCORD</div>
            </div>
          </div>
          <div class="poll-item d-flex align-items-center pd-box-8 mr-top-8">
            <div class="poll-item-image-container d-flex justify-content-center">
              <img class="poll-item-image" src="/assets/img/svg/gravidao-logo.svg" alt="GraviDAO">
            </div>
            <div class="divider"></div>
            <div class="poll-item-desc d-flex flex-column pd-lr-24">
              <div class="poll-item-name app-why-lbl f16 ft-bold light">
                Monthly DAO Payments - July 2022
              </div>
              <div class="poll-item-details pd-top-8 d-flex justify-content-between">
                <div class="poll-item-server app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  GRAVIDAO
                </div>
                <div class="poll-item-detail-info app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  ID : 96 | BY: GABRIELAYUSO.ETH | 29 JUL, 2022
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-time-status d-flex flex-column align-items-center pd-lr-16">
              <div class="poll-item-time app-why-lbl f16 ft-bold secondary">
                00:11:28
              </div>
              <div class="poll-item-time pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 secondary">
                ACTIVE
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-discord-button pd-left-24 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon src="/assets/img/svg/discord-brands-primary.svg" class="app-why-icon ic18 primary"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold primary">VIEW IN
                DISCORD</div>
            </div>
          </div>
          <div class="poll-item d-flex align-items-center pd-box-8 mr-top-8">
            <div class="poll-item-image-container d-flex justify-content-center">
              <img class="poll-item-image" src="/assets/img/svg/gravidao-logo.svg" alt="GraviDAO">
            </div>
            <div class="divider"></div>
            <div class="poll-item-desc d-flex flex-column pd-lr-24">
              <div class="poll-item-name app-why-lbl f16 ft-bold light">
                Descriptor V2 Upgrade
              </div>
              <div class="poll-item-details pd-top-8 d-flex justify-content-between">
                <div class="poll-item-server app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  GRAVIDAO
                </div>
                <div class="poll-item-detail-info app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  ID : 114 | BY: honkdiddly.eth | 17 Jun, 2022
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-time-status d-flex flex-column align-items-center pd-lr-16">
              <div class="poll-item-time app-why-lbl f16 ft-bold error">
                Finished
              </div>
              <div class="poll-item-time pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 error">
                FAILED
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-discord-button pd-left-24 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon src="/assets/img/svg/discord-brands-primary.svg" class="app-why-icon ic18 primary"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold primary">VIEW IN
                DISCORD</div>
            </div>
            <div class="poll-item-discord-button pd-left-24 mr-left-18 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon name="cloud-download" class="app-why-icon ic14 light-70"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold light-70">EXPORT SUMMARY</div>
            </div>
          </div>
          <div class="poll-item d-flex align-items-center pd-box-8 mr-top-8">
            <div class="poll-item-image-container d-flex justify-content-center">
              <img class="poll-item-image" src="/assets/img/svg/gravidao-logo.svg" alt="GraviDAO">
            </div>
            <div class="divider"></div>
            <div class="poll-item-desc d-flex flex-column pd-lr-24">
              <div class="poll-item-name app-why-lbl f16 ft-bold light">
                v1 release on iOS / Android
              </div>
              <div class="poll-item-details pd-top-8 d-flex justify-content-between">
                <div class="poll-item-server app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  GRAVIDAO
                </div>
                <div class="poll-item-detail-info app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  ID : 2 | BY: wahoo.eth | 13 Jun, 2022
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-time-status d-flex flex-column align-items-center pd-lr-16">
              <div class="poll-item-time app-why-lbl f16 ft-bold success">
                Finished
              </div>
              <div class="poll-item-time pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 success">
                SUCCESS
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-discord-button pd-left-24 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon src="/assets/img/svg/discord-brands-primary.svg" class="app-why-icon ic18 primary"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold primary">VIEW IN
                DISCORD</div>
            </div>
            <div class="poll-item-discord-button pd-left-24 mr-left-18 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon name="cloud-download" class="app-why-icon ic14 light-70"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold light-70">EXPORT SUMMARY</div>
            </div>
          </div>
          <div class="poll-item d-flex align-items-center pd-box-8 mr-top-8">
            <div class="poll-item-image-container d-flex justify-content-center">
              <img class="poll-item-image" src="/assets/img/svg/gravidao-logo.svg" alt="GraviDAO">
            </div>
            <div class="divider"></div>
            <div class="poll-item-desc d-flex flex-column pd-lr-24">
              <div class="poll-item-name app-why-lbl f16 ft-bold light">
                DAO proposal to migrate loans to new interes…
              </div>
              <div class="poll-item-details pd-top-8 d-flex justify-content-between">
                <div class="poll-item-server app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  GRAVIDAO
                </div>
                <div class="poll-item-detail-info app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  ID : 78 | BY: undeadnoun22.eth | 12 Jun, 2022
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-time-status d-flex flex-column align-items-center pd-lr-16">
              <div class="poll-item-time app-why-lbl f16 ft-bold warning">
                -00:10:28
              </div>
              <div class="poll-item-time pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 warning">
                PENDING
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-discord-button pd-left-24 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon src="/assets/img/svg/discord-brands-primary.svg" class="app-why-icon ic18 primary"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold primary">VIEW IN
                DISCORD</div>
            </div>
            <div class="poll-item-discord-button pd-left-24 mr-left-18 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon name="pencil" class="app-why-icon ic14 light-70"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold light-70">EDIT</div>
            </div>
          </div>
          <div class="poll-item d-flex align-items-center pd-box-8 mr-top-8">
            <div class="poll-item-image-container d-flex justify-content-center">
              <img class="poll-item-image" src="/assets/img/svg/gravidao-logo.svg" alt="GraviDAO">
            </div>
            <div class="divider"></div>
            <div class="poll-item-desc d-flex flex-column pd-lr-24">
              <div class="poll-item-name app-why-lbl f16 ft-bold light">
                Monthly DAO Payments - July 2022
              </div>
              <div class="poll-item-details pd-top-8 d-flex justify-content-between">
                <div class="poll-item-server app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  GRAVIDAO
                </div>
                <div class="poll-item-detail-info app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                  ID : 96 | BY: GABRIELAYUSO.ETH | 29 JUL, 2022
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-time-status d-flex flex-column align-items-center pd-lr-16">
              <div class="poll-item-time app-why-lbl f16 ft-bold light-50">
                Draft
              </div>
            </div>
            <div class="divider"></div>
            <div class="poll-item-discord-button pd-left-24 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon src="/assets/img/svg/discord-brands-primary.svg" class="app-why-icon ic18 primary"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold primary">VIEW IN
                DISCORD</div>
            </div>
            <div class="poll-item-discord-button pd-left-24 mr-left-18 d-flex flex-column align-items-center text-center"
              (click)="navigateToViewInDiscord()">
              <ion-icon name="pencil" class="app-why-icon ic14 light-70"></ion-icon>
              <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold light-70">EDIT</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</app-why-side-nav>-->
</app-why-header-side-nav>
