<!-- <app-why-header
  [buttonLabel]="''"
  [profileObj]="{viewProfile: true, viewSettings: true, img: '../../../../assets/img/png/nft-profile.jpeg'}"
  [title]="'Manage Profile'"
  (click)="navigateToProfile()"
  [subTitle]="''"></app-why-header>
<app-why-side-nav [sideNavList]="sideNavList">
  <div class="d-flex flex-nowrap profile-wrapper">
    <div class="profile-container">
      <div class="back-header">
        <div class="pd-left-24 pd-top-21 pd-bottom-21">
          <app-why-cta-three
            [btnClass]="cssClass.cta3Primary + ' backBtn'"
            [btnLabel]="'Back'"
            [leftIconType]="'chevron-back'"
            [iconClass]="cssClass.cta3PrimaryIcon"
            (click)="navigateBack()"
          ></app-why-cta-three>
        </div>
      </div>
      <div class="profile-content">
        <div class="profile-widget mr-top-40"></div>
        <div class="profile-widget"></div>
        <div class="profile-widget"></div>
      </div>
    </div>
  </div>
</app-why-side-nav> -->
<app-why-header-side-nav>

</app-why-header-side-nav>
