<app-why-header-side-nav
  [profileObj]="setHeaderValue()"
  (profileClick)="navigateToProfile()">
  <div class="d-flex flex-nowrap profile-wrapper">
    <div class="profile-container">
      <div class="back-header">
        <div class="pd-left-24 pd-top-21 pd-bottom-21">
          <app-why-cta-three
            [btnClass]="cssClass.cta3Primary + ' backBtn'"
            [btnLabel]="'Back'"
            [leftIconType]="'chevron-back'"
            [iconClass]="cssClass.cta3PrimaryIcon"
            (click)="navigateBack()">
          </app-why-cta-three>
        </div>
      </div>
      <div class="profile-content">
        <!-- Profile Widget -->
        <div class="d-flex flex-column justify-content-center profile-widget mr-top-40">
          <div class="mr-left-40 mr-right-40 mr-top-24 profile-header">
            <label class="app-why-lbl f16 ft-bold no-letter-spacing light">PROFILE</label>
            <div class="divider mr-top-9"></div>
          </div>
          <div *ngIf="!discordUnLinked">
            <div class="d-flex widget_profile mr-top-48 linked-profile">
              <img [src]="profileObj?.discordProfileImage" class="profile-img" alt="Profile" imgFallback>
              <div class="d-flex flex-column mr-left-32">
                <label class="mr-top-20 app-why-lbl f10 ft-bold light-50">LINKED PROFILE</label>
                <label class="mr-top-4 app-why-lbl f22 ft-bold light mr-bottom-24">{{profileObj?.discordName}}</label>
              </div>
            </div>
            <!--<div class="widget_profile mr-top-8 mr-right-118 profile-bio">
              <div class="d-flex flex-column mr-left-16">
                <label class="mr-top-16 app-why-lbl f10 ft-bold light-50">BIO</label>
                <label
                  class="mr-top-8 app-why-lbl f16 ft-lato light-70 no-letter-spacing mr-bottom-16">{{profileObj?.bio}}</label>
              </div>
            </div>-->
            <div class="mr-top-48 mr-bottom-24 profile-unlink">
              <app-why-cta-three
                [btnClass]="cssClass.cta3BtnLabel + ' btn-hover'"
                [btnLabel]="'Change'"
                [leftIconType]="'swap-vertical-outline'"
                [iconClass]="cssClass.cta3Icon + ' btn-hover'"
                [parentClass]="'flex-column'"
                (click)="openModal('unlinkDiscordModal')">
              </app-why-cta-three>
            </div>
          </div>
        </div>
        <!-- Wallets Widget -->
        <div class="d-flex flex-column profile-widget widget_wallets mr-top-8 mr-bottom-80">
          <div class="mr-left-40 mr-right-40 mr-top-24 profile-header">
            <label class="app-why-lbl f16 ft-bold no-letter-spacing light">WALLETS</label>
            <div class="divider mr-top-9"></div>
              <label *ngIf="terraClassicInactiveWallets.length > 0 || terraInactiveWallets.length > 0 || polygonInactiveWallets.length > 0 || stargazeInactiveWallets.length > 0 || archwayInactiveWallets.length > 0" class="app-why-lbl f16 error ft-lato">
                You lost premium access, resulting in some wallets being deactivated.
            </label>
          </div>
          <div class="mr-left-109 mr-right-147 mr-top-48">
            <div class="wallet-container" [class.mr-top-32]="profileObj?.accountWallets.length > 1 && i != 0"
                 *ngFor="let wallet of profileObj?.accountWallets let i = index;">
              <label class="app-why-lbl f10 ft-lato" for="wallet{{i+1}}"
              [ngClass]="walletIsInactive(wallet?.address, wallet?.blockchainName) ? 'error' : 'light-50'">Wallet {{ i + 1 }}</label>
              <div class="pd-top-4" id="wallet{{i+1}}">
                <div class="d-flex flex-row justify-content-between">
                  <label class="app-why-lbl ft-lato f16 no-letter-spacing" [ngClass]="walletIsInactive(wallet?.address, wallet?.blockchainName) ? 'error' : 'light-70'"> {{ wallet?.address }} </label>
                  <img class="app-why-icon ic20 light" src="{{wallet?.blockchainImageUrl}}" role="img" imgFallback/>
                </div>
                <div class="wallet-devider pd-bottom-4"></div>
              </div>
              <app-why-cta-one
                *ngIf="profileObj?.accountWallets.length > 1"
                [cssClass]="cssClass.cta1SmFlex + ' remove-wallet-btn'"
                [iconType]="'close-circle-outline'"
                (click)="removeWallet(wallet)"
                [iconClass]="cssClass.cta1IconLight + (walletIsInactive(wallet?.address, wallet?.blockchainName) ? ' error' : '')"
              ></app-why-cta-one>
            </div>
            <div class="d-flex mr-top-32 mr-bottom-48">
              <div>
                <app-why-cta-three
                  [btnClass]="cssClass.cta3Primary14"
                  [btnLabel]="'ADD A WALLET'"
                  [leftIconType]="'add-circle-outline'"
                  [iconClass]="cssClass.cta3PrimaryIcon"
                  (click)="openModal('addWalletModal')">
                </app-why-cta-three>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</app-why-side-nav>-->
</app-why-header-side-nav>

<!-- Connect wallet chains Modal Start -->
<app-why-modal id="addWalletModal" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light">Connect</div>
    <div class="pd-top-32"></div>
    <div class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="selectedWallet === 'polygon' ? cssClass.cta1Dark50Active : cssClass.cta1Dark50"
        (click)="selectOption('polygon')"
        [iconPath]="'./assets/img/svg/matic-logo.svg'"
        [btnLabel]="'Polygon'"></app-why-cta-one>
    </div>
    <div class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="selectedWallet === 'terra' ? cssClass.cta1Dark50Active : cssClass.cta1Dark50"
        (click)="selectOption('terra')"
        [iconPath]="'./assets/img/svg/terra_icon.svg'"
        [btnLabel]="'Terra'"></app-why-cta-one>
    </div>
    <div class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="selectedWallet === 'terraClassic' ? cssClass.cta1Dark50Active : cssClass.cta1Dark50"
        [btnImage]="'./assets/img/webp/lunar_classic.webp'"
        [isDisabled]="true"
        [btnLabel]="'Terra Classic'"></app-why-cta-one>
    </div>
    <!-- <div *ngIf="!terraClassicWalletExists" class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="selectedWallet === 'terraClassic' ? cssClass.cta1Dark50Active : cssClass.cta1Dark50"
        (click)="selectOption('terraClassic')"
        [btnImage]="'./assets/img/webp/lunar_classic.webp'"
        [btnLabel]="'Terra Classic'"></app-why-cta-one>
    </div> -->
    <div class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="selectedWallet === 'stargaze' ? cssClass.cta1Dark50Active : cssClass.cta1Dark50"
        (click)="selectOption('stargaze')"
        [btnImage]="'./assets/img/png/stargaze.png'"
        [btnLabel]="'Stargaze'"></app-why-cta-one>
    </div>
    <!-- <div class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="selectedWallet === 'archway' ? cssClass.cta1Dark50Active : cssClass.cta1Dark50"
        (click)="selectOption('archway')"
        [btnImage]="'./assets/img/png/archway.png'"
        [btnLabel]="'Archway'"></app-why-cta-one>
    </div> -->
    <div class="d-flex justify-content-between pd-top-56 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two
          (click)="exitModal()"
          [btnTheme]="'bg--dark'"></app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one
          (click)="createConnection()"
          [cssClass]="selectedWallet === '' ? cssClass.cta1MdInActive : cssClass.cta1Md"
          [btnLabel]="'Confirm'"></app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Unlink Discord Confirmation Modal End -->

<!-- Remove Wallet Confirmation Modal Started -->
<app-why-modal id="removeWalletModal" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium no-letter-spacing light">remove wallet ?</div>
    <div class="pd-top-32">
      <label class="app-why-lbl f16 ft-lato no-letter-spacing light-70 text-center">
        <div>Removing this wallet will remove it from your profile and you will lose access to any services requiring
          assets held in
          this wallet.
        </div>
      </label>
    </div>
    <div class="d-flex justify-content-between pd-top-56 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two [btnTheme]="'bg--dark'" (click)="cancelModal('removeWalletModal')">
        </app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one [cssClass]="cssClass.cta1Md" [btnLabel]="'Remove'" (click)="confirmRemoveWallet()">
        </app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Remove Wallet Confirmation Modal Ended -->

<!-- Unlink Discord Confirmation Modal Stated -->
<app-why-modal id="unlinkDiscordModal" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light">Change discord ?</div>
    <div class="pd-top-32">
      <label class="app-why-lbl f16 ft-lato no-letter-spacing light-70">
        <div>If you change your Discord Profile to another one you will no longer be able to access controlled channels or manage your Discord servers connected to the current discord account.
        </div>
      </label>
    </div>
    <div class="d-flex justify-content-between pd-top-56 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two [btnTheme]="'bg--dark'" (click)="cancelModal('unlinkDiscordModal')">
        </app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one [cssClass]="cssClass.cta1Md" [btnLabel]="'Switch'" (click)="connectToDiscord()">
        </app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Unlink Discord Confirmation Modal Ended -->

<!-- Buy License Modal Stated -->
<app-why-modal id="buyLicenseModal" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light text-center">buy license</div>
    <div class="buy-license-modal-content pd-top-48">
      <div class="d-flex license-modal-cards justify-content-center" id="terra"
           [class.licenseSelected]="selectedLicenseId == 'terra'"
           (click)="selectLicense('terra')">
        <div class="license-container mr-top-9 mr-bottom-9">
          <img class="metamask-img mr-top-16" [src]="'/assets/img/svg/metamask-icon.svg'" alt="metamask icon">
          <label
            class="app-why-lbl f14 ft-bold no-letter-spacing wrap light mr-right-11 mr-left-10 mr-top-4 license-label">LUNAR
            ASSISTANT "THE GIVING"</label>
          <div><label class="app-why-lbl f10 ft-lato light-50">TERRA</label></div>
        </div>
      </div>
      <div class="d-flex license-modal-cards justify-content-center mr-top-16" id="polygon"
           [class.licenseSelected]="selectedLicenseId == 'polygon'"
           (click)="selectLicense('polygon')">
        <div class="license-container-poly mr-top-9 mr-bottom-9">
          <img class="metamask-img mr-top-16" [src]="'/assets/img/svg/metamask-icon.svg'" alt="metamask icon">
          <label
            class="app-why-lbl f14 ft-bold no-letter-spacing wrap light mr-right-11 mr-left-5 mr-top-4 license-label">GRAVIANS</label>
          <div><label class="app-why-lbl f10 ft-lato light-50">POLYGON</label></div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between pd-top-56 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two [btnTheme]="'bg--dark'" (click)="cancelModal('buyLicenseModal')">
        </app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one [cssClass]="cssClass.cta1Md" [btnLabel]="'Visit Page'" (click)="visitLicensePage()">
        </app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Buy License Modal Ended -->

<!-- Remove License Confirmation Modal Stated -->
<app-why-modal id="removeLicenseModal" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light">remove license</div>
    <div class="pd-top-32">
      <label class="app-why-lbl f16 ft-lato no-letter-spacing light-70">
        <div>Removing your license from this server will prevent administration through the Lunar HQ and its premium
          features unless
          an alternative license is present.
        </div>
      </label>
    </div>
    <div class="d-flex justify-content-between pd-top-56 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two [btnTheme]="'bg--dark'" (click)="cancelModal('removeLicenseModal')">
        </app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one [cssClass]="cssClass.cta1Md" [btnLabel]="'Remove'" (click)="confirmRemoveLicense()">
        </app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Remove License Conformation Modal Ended -->


<!-- Terra wallet chains connection list Modal Start -->
<app-why-modal id="terraWallet" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light mr-bottom-48">Terra Wallet</div>

    <div class="d-flex justify-content-center pd-top-16" *ngFor="let terraConnect of availableConnections">
      <app-why-cta-one
        [cssClass]="cssClass.cta1Dark50"
        (click)="handleTerraConnection(terraConnect.type, terraConnect.identifier)"
        [walletIcon]="terraConnect.icon"
        [btnLabel]="terraConnect.name === 'Terra Station Wallet' ? 'Terra station' : terraConnect.name">
      </app-why-cta-one>
    </div>
    <div class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="cssClass.cta1Dark50"
        (click)="handleTerraConnection('EXTENSION', 'station', true)"
        [walletIcon]="terraIcon"
        [btnLabel]="'Ledger Station'">
      </app-why-cta-one>
    </div>
    <div *ngIf="leapInstalled" class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="cssClass.cta1Dark50"
        (click)="connectLeap('Terra')"
        [btnImage]="'./assets/img/svg/leap.svg'"
        [btnLabel]="'Leap Wallet'">
      </app-why-cta-one>
    </div>
    <div class="mr-bottom-64"></div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Terra wallet chains connection list Modal End -->

<!-- Stargaze wallet chains connection list Modal Start -->
<app-why-modal id="stargazeWallet" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light mr-bottom-48">Stargaze Wallet</div>
    <div *ngIf="!keplrInstalled && !leapInstalled" class="app-why-lbl f20 ft-uni ft-medium light mr-bottom-48">No Stargaze compatible wallet installed. If you're on mobile please switch to desktop.</div>
    <div *ngIf="keplrInstalled" class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="cssClass.cta1Dark50"
        (click)="connectKeplr('Stargaze')"
        [btnImage]="'./assets/img/png/keplr.png'"
        [btnLabel]="'Keplr Wallet'">
      </app-why-cta-one>
    </div>
    <div *ngIf="leapInstalled" class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="cssClass.cta1Dark50"
        (click)="connectLeap('Stargaze')"
        [btnImage]="'./assets/img/svg/leap.svg'"
        [btnLabel]="'Leap Wallet'">
      </app-why-cta-one>
    </div>
    <div class="mr-bottom-64"></div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Stargaze wallet chains connection list Modal End -->

<!-- Archway wallet chains connection list Modal Start -->
<app-why-modal id="archwayWallet" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light mr-bottom-48">Archway Wallet</div>
    <div *ngIf="!keplrInstalled && !leapInstalled" class="app-why-lbl f20 ft-uni ft-medium light mr-bottom-48">No Archway compatible wallet installed. If you're on mobile please switch to desktop.</div>
    <div *ngIf="keplrInstalled" class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="cssClass.cta1Dark50"
        (click)="connectKeplr('Archway')"
        [btnImage]="'./assets/img/png/keplr.png'"
        [btnLabel]="'Keplr Wallet'">
      </app-why-cta-one>
    </div>
    <div *ngIf="leapInstalled" class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="cssClass.cta1Dark50"
        (click)="connectLeap('Archway')"
        [btnImage]="'./assets/img/svg/leap.svg'"
        [btnLabel]="'Leap Wallet'">
      </app-why-cta-one>
    </div>
    <div class="mr-bottom-64"></div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Archway wallet chains connection list Modal End -->

<!-- No User Premium rights Modal Start -->
<app-why-modal id="notPremiumUser" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light mr-bottom-30">Premium required</div>
    <div class="">
      <label class="app-why-lbl f16 ft-lato no-letter-spacing light-70">
        <div>
          By getting LunarHQ Premium access, you can add multiple wallets per chain and get access to many more features to come! <a target="_blank" href="https://gravidaopublic.notion.site/Lunar-HQ-Welcome-986ffa421f5d47c5905e6499b25a3ed0" class="cursor-pointer text-decoration-underline feature-link">Find out more</a>
        </div>
      </label>
      <div>
        <img class="mascot"
             src="../../../../assets/img/png/happy_mascot.png" alt="">
      </div>
    </div>
    <div class="mr-top-30 d-flex justify-content-center">
      <app-why-cta-one [cssClass]="cssClass.cta1Md" [btnLabel]="'Close'" (click)="closeNoPremium()">
      </app-why-cta-one>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- No User Premium rights Modal End -->