@use "src/style/mixin-core" as mixin;
.back-header {
  position: fixed;
  width: 75rem;
  height: 4rem;
  @include mixin.bg--wrapper;
  clip-path: none;
  margin-top: -3.5rem;
}

.profile-wrapper {
  margin-left: -3.75rem;
}

.profile-container {
  flex: 1;
  display:flex;
  flex-direction:column;
  height:100%
}
.profile-widget {
  position: relative;
  width: 45rem;
  @include mixin.bg--wrapper;
}
.widget_profile {
  height: 24.95rem;
}
.widget_wallets {
  height: 16rem;
}
.widget_licences {
  height: 21.25rem;
}
.profile-content {
  max-width: 45rem;
  margin: auto;
}
.content-wrapper {
  justify-content: left !important;
}
.backBtn {
  width: 132px;
  height: 24px;
}
.profile-header {
  width: 640px;
  height: 33px;
  line-height: 24px;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: var(--light);
  opacity: 0.2;
}
