<app-why-header-side-nav
  [title]="'my servers'"
  [activeTab]="'MY SERVERS'"
  [nestedMenu]="nestedMenu"
  [activeSubMenuTab]="pollsList[0]?.discordServerName"
  [nestedMenuSelected]="'Polls'"
  (profileClick)="navigateToPolls()">
  <div class="flex flex-nowrap">
    <div class="polls-header">
      <div class="d-flex justify-content-between back-button">
        <div class="pd-left-24 pd-top-21 pd-bottom-21 btn-wrapper">
          <app-why-cta-three [btnClass]="cssClass.cta3Primary" [btnLabel]="'Back'" [leftIconType]="'chevron-back'"
                             [iconClass]="cssClass.cta3PrimaryIcon" (click)="navigateBack()">
          </app-why-cta-three>
        </div>

        <div class="d-flex align-items-center">
          <div class="d-flex poll-list-container">
            <app-why-drop-down [leftIcon]="true"
                               (dataSet)="filterList($event)"
                               [placeholderText]="'VIEW ALL'"
                               [dataList]="statusList"></app-why-drop-down>
          </div>

          <!--<div class="d-flex poll-list-container">
            <span class="app-why-lbl light">Filter</span>
            <app-why-drop-down [leftIcon]="true"
                               (dataSet)="filterList($event)"
                               [placeholderText]="'FILTER BY'"
                               [dataList]="statusList"></app-why-drop-down>
          </div>-->
        </div>
        <div class="d-flex align-items-center pd-right-24">
          <app-why-cta-one
            [cssClass]="cssClass.cta1Norm + ' cursor-pointer'"
            [iconType]="'add-circle-outline'"
            [btnLabel]="'CREATE NEW POLL'"
            [iconClass]="cssClass.cta1IconDark"
            (click)="navigateToCreatePoll()">
          </app-why-cta-one>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center mr-top-56">
      <div class="recent-polls mr-top-8 d-flex flex-column pd-lr-40 pd-top-24">
        <div class="d-flex justify-content-between add-bottom-border">
          <span class="app-why-lbl f16 ft-bold light text-uppercase mr-bottom-8">
            {{pollsList[0]?.discordServerName}} Polls [ {{pollsList.length}} ]
          </span>
        </div>
        <div class="poll-items pd-top-48 pd-bottom-48 d-flex flex-column">
          <div *ngFor="let pollObj of pollsList">
            <app-why-lunar-hq-poll-cell [pollObj]="pollObj"
                                        (deletePollEvent)="getPollsList()"
                                        [hasPermission]="hasPermission"
                                        (previewPollEvent)="previewPoll($event)"
                                        (editPollEvent)="editPoll($event)"
                                        [currentDateTime]="currentDateTime"></app-why-lunar-hq-poll-cell>
          </div>
        </div>
      </div>

      <div class="mr-top-40 mr-bottom-80 d-flex justify-content-center">
        <app-why-cta-three
          [btnClass]="cssClass.cta3BtnLabel + ' btn-hover'"
          [btnLabel]="'BACK TO TOP'"
          [leftIconType]="'chevron-up-outline'"
          [iconClass]="cssClass.cta3Icon + ' btn-hover'"
          [parentClass]="'flex-column'"
          (click)="goToTop()">
        </app-why-cta-three>
      </div>
    </div>
  </div>
  <!--</app-why-side-nav>-->
</app-why-header-side-nav>

<div class="preview-container" *ngIf="viewPreview">
  <app-why-lunar-hq-preview-poll
    [pollObj]="pollObj"
    [isReadonly]="true"
    (closeEvent)="viewPreview = false"></app-why-lunar-hq-preview-poll>
</div>
