<app-why-header
  [buttonLabel]="''"
  [profileObj]="{viewProfile: false, viewSettings: false}"
  [title]="'Welcome'"
  [rightLabel]="'CONNECT WALLET'"
  [subTitle]="''"></app-why-header>

<section class="add-bg main-wrapper">

  <div class="option-container active pd-right-16">
    <div class="text-center">
      <label class="app-why-lbl f28 secondary ft-bold">CONNECT TO DISCORD</label>
    </div>
    <div class="pd-top-20 pd-lr-13">
      <div class="horizontal-divider light"></div>
    </div>
  </div>

  <div class="mr-right-16"></div>

  <div class="option-container">
    <div class="text-center">
      <label class="app-why-lbl f22 light-50 ft-bold">CONNECT WALLET</label>
    </div>
    <div class="pd-top-20 pd-lr-13">
      <div class="horizontal-divider light"></div>
    </div>
    <div class="pd-top-20 pd-lr-13">
      <label class="app-why-lbl f12 ft-lato light-70">
        Connect your crypto wallets to let all of your assets shine. Join diverse Discord communities and become an
        active part of making them great.
      </label>
    </div>
    <div class="pd-top-32 pd-lr-13">
      <app-why-cta-one
        [transform]="'transform-sm'"
        [iconType]="'file-tray-full'"
        [cssClass]="cssClass.cta1" [btnLabel]="'Connect Wallet'"></app-why-cta-one>
    </div>
  </div>

</section>
