<app-why-header-side-nav
  [title]="'my servers'"
  [activeTab]="'MY SERVERS'"
  [nestedMenu]="nestedMenu"
  [activeSubMenuTab]="serverDetails?.discordServerName"
  (profileClick)="navigateToMyServer()">
  <div class="flex flex-nowrap">
    <div class="search-bar-container my-server">
      <div class="back-button">
        <div class="pd-left-24 pd-top-21 pd-bottom-21">
          <app-why-cta-three [btnClass]="cssClass.cta3Primary" [btnLabel]="'Back'"
                             [leftIconType]="'chevron-back'" [iconClass]="cssClass.cta3PrimaryIcon"
                             (click)="navigateBack()">
          </app-why-cta-three>
        </div>
      </div>
    </div>
    <div class="server-details-container d-flex flex-column mr-top-56">
      <div class="server-details-desc-area d-flex justify-content-between">
        <div class="server-details-desc d-flex flex-column">
          <div class="server-name-container d-flex align-items-center">
            <div class="">
              <img [src]="serverDetails?.discordServerImage" alt="logo" class="logo-wrapper" imgFallback>
            </div>
            <div class="server-name pd-left-16 app-why-lbl f28 ft-bold light">
              {{serverDetails?.discordServerName}}
            </div>
          </div>
          <div class="server-chains d-flex mr-top-16">
            <div class="server-active-chains app-why-lbl f10 ft-lato light-50 letter-spacing-02">
              ACTIVE CHAINS
            </div>
            <div class="server-icons d-flex align-items-center pd-left-16 pd-right-16">
              <div *ngFor="let chainObj of serverDetails?.blockchains">
                <img class="server-icon-container mr-right-16" [src]="chainObj.imageUrl" alt="atom">
              </div>
            </div>
          </div>
        </div>
        <!--<div class="server-image-container d-flex align-items-center">
          <img class="server-image" src="/assets/img/png/placeholder.png" alt="server-image">
        </div>-->
      </div>
      <div class="title-underline mr-top-40"></div>
      <div class="server-detail-items mr-top-40 d-flex">
        <div class="server-detail-item d-flex flex-column align-items-center justify-content-center">
          <div class="server-detail-item-number app-why-lbl f28 ft-bold success">
            {{serverDetails?.memberCount}}
          </div>
          <div class="server-detail-item-label pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 success">
            MEMBERS
          </div>
        </div>
        <div class="server-detail-item mr-left-8 d-flex flex-column align-items-center justify-content-center">
          <div class="server-detail-item-number app-why-lbl f28 ft-bold success">
            {{serverDetails?.linkedDiscordAccountCount}}
          </div>
          <div class="server-detail-item-label pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 success">
            LINKED DISCORD ACCOUNTS
          </div>
        </div>
        <div class="server-detail-item mr-left-8 d-flex flex-column align-items-center justify-content-center">
          <div class="server-detail-item-number app-why-lbl f28 ft-bold success">
            {{serverDetails?.rules.length}}
          </div>
          <div class="server-detail-item-label pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 success">
            RULES
          </div>
        </div>
        <div class="server-detail-item mr-left-8 d-flex flex-column align-items-center justify-content-center">
          <div class="server-detail-item-number app-why-lbl f28 ft-bold success">
            {{serverDetails?.proposals.length}}<span
            class="app-why-lbl f28 light-50"> / {{serverDetails?.proposals.length}} </span>
          </div>
          <div class="server-detail-item-label pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 success">
            POLLS
          </div>
        </div>
      </div>
      <div class="server-detail-rules-license mr-top-8 d-flex">
        <div class="server-detail-rules d-flex flex-column pd-top-24 pd-left-40">
          <div class="rules-header-title d-flex justify-content-between pd-right-40">
            <div class="app-why-lbl f16 ft-500 light text-uppercase">
              {{serverDetails?.discordServerName}} DISCORD RULES [ {{serverDetails?.rules.length}} ]
            </div>
            <div class="rules d-flex- app-why-lbl f12 ft-bold primary">
              <app-why-cta-three
                [btnClass]="cssClass.cta3PrimaryNorm"
                [iconClass]="cssClass.cta3PrimaryIconNorm"
                [iconType]="'chevron-forward-outline'"
                (click)="navigateToRules()"
                [btnLabel]="'RULES'"></app-why-cta-three>
            </div>
          </div>
          <div class="title-underline mr-top-8 mr-right-40"></div>
          <div class="pd-top-16 mr-right-40" *ngIf="serverDetails?.rules.length === 0">
            <label class="app-why-lbl f14 light-70">
              Lunar HQ is all about making communities work. It looks like you don't hold any community roles yet but
              we'll keep checking and place them here when we find them.
            </label>
          </div>
          <div class="rules-detail-title pd-top-16 d-flex flex-row pd-right-40" *ngIf="serverDetails?.rules.length > 0">
            <div class="rule-name-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
              RULE NAME
            </div>
            <div class="population-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
              POPULATION
            </div>
            <div class="chain-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
              CHAIN
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="server-detail-rules-content mr-top-16 d-flex flex-column">
              <div class="rules-item d-flex flex-row align-items-center mr-bottom-8"
                   *ngFor="let rule of serverDetails?.rules?.slice(0,2)">
                <div class="rules-item-name d-flex align-items-center pd-left-16 app-why-lbl f16 ft-500 light">
                  {{rule?.roleName}}
                </div>
                <div class="divider"></div>
                <div class="rules-item-population d-flex align-items-center pd-left-16 app-why-lbl f16 ft-500 light">
                  {{rule?.population}}
                </div>
                <div class="divider"></div>
                <div class="rules-item-chain d-flex justify-content-between">
                  <div
                    class="pd-left-16 app-why-lbl f16 ft-500 light server-text-container">{{rule?.blockchainName}}</div>
                  <div class="rules-item-chain-icon">
                    <img class="rules-item-chain-icon-container mr-right-16 mr-left-16" [src]="rule?.blockchainImage"
                         alt="drop">
                  </div>
                </div>
                <div class="divider"></div>
                <div class="rules-item-view visit-button d-flex justify-content-center add-cursor"
                     (click)="showRule(rule)">
                  <div class="pd-left-20 app-why-lbl f12 ft-bold light-50 letter-spacing-047">VIEW</div>
                  <ion-icon name="chevron-forward-outline" class="app-why-icon light-50 ic20"></ion-icon>
                </div>
              </div>
            </div>
          </div>
          <!--          <div class="fade-effect mr-right-40"></div>-->
        </div>
        <!--            Commented based on call with Adam-->
        <!--<div class="server-detail-license d-flex flex-column pd-top-24 mr-left-8">
          <div class="rules-header-title d-flex flex-column justify-content-between pd-left-40 pd-right-40">
            <span class="app-why-lbl f16 ft-bold light text-uppercase">
              LICENSES IN {{serverDetails?.discordServerName}} [ {{serverDetails?.licences.length}} ]
            </span>
            <div class="title-underline mr-top-8 mr-right-40"></div>
          </div>
          <div class="license-items mr-top-48 pd-left-40 pd-right-40">
            <div class="license-item d-flex flex-column pd-box-8">
              <div>
                <img class="license-item-img" src="/assets/img/png/nft-profile.jpeg" alt="">
              </div>
              <div class="license-item-name app-why-lbl f16 ft-bold light pd-top-8">
                The Giving #246
              </div>
              <div class="license-item-text app-why-lbl f10 ft-lato light-70 letter-spacing-02 pd-top-8">
                POLYGON
              </div>
              <div class="license-item-actions d-flex pd-top-8">
                <div class="d-flex overflow-hidden">
                  <div ngbDropdown container="body">
                    <button type="button" class="link-dropdown app-why-lbl f10 ft-lato primary letter-spacing-02"
                            ngbDropdownToggle>OWNED BY DW00k #5732
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                      <button ngbDropdownItem class="pd-left-24 app-why-lbl f12 ft-bold no-letter-spacing">REASSIGN
                      </button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem class="pd-left-24 app-why-lbl f12 ft-bold no-letter-spacing">REMOVE
                        LICENSE
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="license-item d-flex flex-column mr-top-8 pd-box-8">
              <div>
                <img class="license-item-img" src="/assets/img/png/placeholder.png" alt="">
              </div>
              <div class="license-item-name app-why-lbl f16 ft-bold light pd-top-8">
                The Crazy Cat Club #0270
              </div>
              <div class="license-item-text app-why-lbl f10 ft-lato light-70 letter-spacing-02 pd-top-8">
                POLYGON
              </div>
              <div class="license-item-text app-why-lbl f10 ft-lato light-50 letter-spacing-02 pd-top-8">
                OWNED BY ILO
              </div>
            </div>
          </div>
        </div>-->
      </div>

      <app-why-lunar-hq-recent-polls
        (openPoll)="navigateToPoll($event)"
        [hasPermission]="hasPermission"
        [currentDateTime]="currentDateTime"
        [pollArrayObj]="serverDetails?.proposals"></app-why-lunar-hq-recent-polls>

      <div class="mr-bottom-60">
        <app-why-lunar-hq-recent-announcements
          (refreshList)="getServerDetails()"
          (viewAnnouncement)="previewAnnouncement($event)"
          (navigateToAnnouncementEvent)="navigateToAnnouncement()"
          [announcementArrayObj]="serverDetails?.announcements"
          class="mr-top-8"></app-why-lunar-hq-recent-announcements>
      </div>
    </div>

    <div class="mr-top-40 mr-bottom-80 d-flex justify-content-center">
      <app-why-cta-three
        [btnClass]="cssClass.cta3BtnLabel + ' btn-hover'"
        [btnLabel]="'BACK TO TOP'"
        [leftIconType]="'chevron-up-outline'"
        [iconClass]="cssClass.cta3Icon + ' btn-hover'"
        [parentClass]="'flex-column'"
        (click)="goToTop()">
      </app-why-cta-three>
    </div>

    <div class="rules-view" [hidden]="!viewRule">
      <app-why-lunar-hq-rules-view [paused]="paused"
                                   [hasPermission]="hasPermission"
                                   [ruleObj]="ruleObj"
                                   (closeRule)="closeView()"
                                   (actionType)="ruleAction($event)"
                                   (updateRole)="updateRole($event)"></app-why-lunar-hq-rules-view>
    </div>

    <div class="rules-view" [hidden]="!viewAnnouncement">
      <app-why-lunar-hq-preview-announcement
        (closePreview)="closePreview()"
        (starAnnouncementEvent)="starAnnouncement($event)"
        [announcementObj]="selectedAnnouncementObj"></app-why-lunar-hq-preview-announcement>
    </div>
  </div>
  <!--</app-why-side-nav>-->
</app-why-header-side-nav>
