<div class="server-announcements mr-top-8 d-flex flex-column pd-lr-40 pd-top-24">
  <div class="recent-poll-header-title d-flex justify-content-between">
    <div class="app-why-lbl f16 ft-bold light">
      RECENT ANNOUNCEMENTS
    </div>
    <div class="polls d-flex- app-why-lbl f12 ft-bold primary" *ngIf="announcementArrayObj?.length > 0">
      <app-why-cta-three
        [btnClass]="cssClass.cta3PrimaryNorm"
        [iconClass]="cssClass.cta3PrimaryIconNorm"
        [iconType]="'chevron-forward-outline'"
        (click)="announcementEvent()"
        [btnLabel]="'VIEW ALL'"></app-why-cta-three>
    </div>
  </div>
  <div class="horizontal-divider light-20 mr-top-8 mr-bottom-48"></div>
  <div class="announcement-container" *ngFor="let annObj of announcementArrayObj?.slice(0,3)">
    <app-why-lunar-hq-announcement-cell
      (starAnnouncementEvent)="starAnnouncement($event)"
      (previewAnnouncement)="previewAnnouncement($event)"
      [annObj]="annObj">
    </app-why-lunar-hq-announcement-cell>
  </div>
  <div class="empty-info-container" *ngIf="announcementArrayObj?.length === 0">
    <div class="app-why-lbl secondary ft-lato mr-bottom-8 text-uppercase">
      Keep up to date
    </div>
    <label class="app-why-lbl f14 light-70">
      Keeping track of all of your communities can be hard. Let Lunar HQ bring all of your important announcements to a
      single place so you stay informed of the big news.
    </label>
  </div>
  <!--<div class="no-announcement-wrapper"
       *ngIf="announcementArrayObj?.length === 0 && discordServerId !== ''">
    <app-why-cta-three
      [btnClass]="cssClass.cta3PrimaryNorm"
      [iconClass]="cssClass.cta3PrimaryIconNorm"
      [iconType]="'chevron-forward-outline'"
      (click)="announcementEvent()"
      [btnLabel]="'Set up my ANNOUNCEMENTS'"></app-why-cta-three>
  </div>-->
</div>
