<div class="server-announcements mr-top-8 d-flex flex-column pd-lr-40 pd-top-24">
  <div class="recent-poll-header-title d-flex justify-content-between">
    <div class="app-why-lbl f16 ft-bold light">
      ANNOUNCEMENTS
    </div>
    <div class="polls d-flex- app-why-lbl f12 ft-bold primary">
      <app-why-cta-three
        [btnClass]="cssClass.cta3PrimaryNorm"
        [iconClass]="cssClass.cta3PrimaryIconNorm"
        [iconType]="'chevron-forward-outline'"
        (click)="announcementEvent()"
        [btnLabel]="'ANNOUNCEMENTS'"></app-why-cta-three>
    </div>
  </div>
  <div class="horizontal-divider light-20 mr-top-8 mr-bottom-48"></div>
  <div class="announcement-container" *ngFor="let annObj of announcementArrayObj?.slice(0,3)">
    <app-why-lunar-hq-announcement-cell
      (starAnnouncementEvent)="starAnnouncement($event)"
      (previewAnnouncement)="previewAnnouncement($event)"
      [annObj]="annObj">
    </app-why-lunar-hq-announcement-cell>
  </div>
</div>
