@use "src/style/mixin-core" as mixin;
@import "src/app/modules/lunar-hq/announcement/announcements.component";

.server-announcements {
  width: 100%;
  //height: mixin.toRem(535);
  @include mixin.bg--wrapper;
  background: var(--tertiary);
  padding-bottom: mixin.toRem(48);
}

.announcement-items {
  width: mixin.toRem(643);
  margin-left: auto;
  margin-right: auto;
}

.announcement-item {
  width: mixin.toRem(643);
  height: mixin.toRem(230);

  .announcement-item-desc-container {
    width: mixin.toRem(643);
    height: mixin.toRem(206);
    @include mixin.bg--wrapper;
    background: var(--dark-20);
  }

  .divider {
    height: mixin.toRem(126);
    margin-top: 0;
  }

  .announcement-item-image {
    width: mixin.toRem(32);
    height: mixin.toRem(32);
  }

  .announcement-item-text {
    height: auto;
  }
}

.no-announcement-wrapper {
  width: mixin.toRem(480);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
}
