<app-why-header-side-nav
  [title]="'my servers'"
  [activeTab]="'MY SERVERS'"
  [activeSubMenuTab]="discordServerName"
  [nestedMenu]="nestedMenu"
  [nestedMenuSelected]="'Polls'">
  <div class="search-bar-container">
    <div class="align-items-center col-3">
      <div class="pd-left-24 pd-right-24">
        <app-why-cta-three
          [btnClass]="cssClass.cta3Primary + ' backBtn'"
          [btnLabel]="'Back'"
          [leftIconType]="'chevron-back'"
          [iconClass]="cssClass.cta3PrimaryIcon"
          (click)="navigateBack()">
        </app-why-cta-three>
      </div>
    </div>

    <div class="col-9">
      <div class="d-flex align-items-center pd-right-24">
        <div id="stepper1" class="">
          <div class="step-container">
            <div (click)="viewStep(0)" class="step-label-wrapper add-cursor">
                  <span class="app-why-lbl f10 text-center light-50 ft-lato"
                        [ngClass]="{'secondary': stepperIndex === 0, 'primary': stepperIndex > 0}">POLL DETAILS</span>
            </div>
            <div (click)="viewStep(1)" class="step-label-wrapper add-cursor">
                  <span class=" app-why-lbl f10 text-center light-50 ft-lato"
                        [ngClass]="{'secondary': stepperIndex === 1, 'primary': stepperIndex > 1}">VOTING SYSTEM</span>
            </div>
            <div (click)="viewStep(2)" class="step-label-wrapper add-cursor">
                  <span class=" app-why-lbl f10 text-center light-50 ft-lato"
                        [ngClass]="{'secondary': stepperIndex === 2, 'primary': stepperIndex > 2}">TIMINGS</span>
            </div>
            <div (click)="viewStep(3)" class="step-label-wrapper add-cursor">
                  <span class=" app-why-lbl f10 text-center light-50 ft-lato"
                        [ngClass]="{'secondary': stepperIndex === 3, 'primary': stepperIndex > 3}">SELECT CHANNEL</span>
            </div>
            <div (click)="viewStep(4)" class="step-label-wrapper add-cursor">
                  <span class=" app-why-lbl f10 text-center light-50 ft-lato"
                        [ngClass]="{'secondary': stepperIndex === 4, 'primary': stepperIndex > 4}">PREVIEW</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <article class="mr-top-56 form-wrapper">
    <div>
      <div *ngIf="stepperIndex === 0" class="content">
        <div class="create-poll-widget d-flex flex-column pd-top-24 pd-lr-40">
          <div class="d-flex justify-content-between">
            <div class="app-why-lbl f16 ft-500 light no-letter-spacing">{{stepTitle}}</div>
          </div>
          <div class="title-underline mr-top-8"></div>
          <div class="">
            <div class="mr-top-48 pd-lr-78 form-control-wrapper">
              <div class="form-group">
                <input type="text" id="name" class="form-control app-why-floating-input light-70"
                       placeholder=" " [(ngModel)]="pollObj.title"
                       [ngClass]="{'error':errorList.includes('title') && (pollObj.title === undefined || pollObj.title === '')}">
                <label class="app-why-floating-lbl" for="name">Name*</label>
              </div>
              <div class="app-why-lbl error"
                   *ngIf="errorList.includes('title') && (pollObj.title === undefined || pollObj.title === '')">
                Name is required
              </div>
              <div class="form-group mr-top-40 mr-bottom-84">
                <label class="d-flex app-why-lbl ft-lato f10 light-50"
                       for="poll_description">Description</label>
                <textarea name="poll_description"
                          class="app-why-lbl f16 ft-lato light-70 mr-top-4 description_area no-letter-spacing pd-top-8 pd-bottom-8 pd-lr-16"
                          id="poll_description" maxlength="2000"
                          (keyup)="countCharacter()"
                          [(ngModel)]="pollObj.description"
                          placeholder="Enter description"></textarea>
                <div class="d-flex justify-content-between app-why-lbl f10 ft-lato light-50"
                     id="description_count">
                  <div>
                    <span id="current_count">0 &nbsp;</span>
                    <span id="maximum_count"> / 2000</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="stepperIndex === 1" class="content">
        <div class="create-poll-widget d-flex flex-column pd-top-24 pd-lr-40 pd-bottom-48">
          <div class="d-flex justify-content-between">
            <div class="app-why-lbl f16 ft-500 light no-letter-spacing">VOTE WEIGHT</div>
          </div>
          <div class="title-underline mr-top-8"></div>
          <div class="create-rule-content mr-top-40">
            <div class="d-flex align-items-center">
              <input type="radio" class="radio-button-primary"
                     id="nftWeighted" name="filter"
                     [checked]="voteWeight === 'nftWeighted'"
                     (click)="setWeight('nftWeighted')">
              <label class="app-why-lbl f12 mr-left-8 text-uppercase"
                     [ngClass]="{'primary': voteWeight === 'nftWeighted', 'light-50': voteWeight !== 'nftWeighted'}">
                nft weighted
              </label>
            </div>
            <div class="mr-top-16 d-flex" *ngIf="voteWeight === 'nftWeighted'">
              <div class="col-3 d-flex flex-column">
                <div>
                  <div class="app-why-lbl light-50">Network*</div>
                  <div class="pd-top-4">
                    <div>
                      <app-why-drop-down
                        [leftIcon]="true"
                        (dataSet)="setBlockChain($event)"
                        [dataList]="['Polygon','Terra', 'Stargaze']"
                        [placeholderText]="selectedNetwork">
                      </app-why-drop-down>
                    </div>
                  </div>
                </div>
                <div class="app-why-lbl error mr-top-8"
                     *ngIf="errorList.includes('blockchainName') && (selectedNetwork === 'Select network')">
                  Select Network
                </div>
              </div>
              <div class="col-6">
                <div class="max-width-240">
                  <div class="app-why-lbl light-50"
                       [ngClass]="{'secondary': pollObj.address === undefined}">Contract address*
                  </div>
                </div>
                <div class="max-width-240">
                  <div class="form-group">
                    <input type="text" class="form-control app-why-floating-input light-70"
                           placeholder="Enter contract address"
                           [ngClass]="{'set-input-border': pollObj.address === undefined}"
                           [(ngModel)]="pollObj.address">
                  </div>
                </div>
                <div class="app-why-lbl error"
                     *ngIf="errorList.includes('address') && (pollObj.address === undefined || pollObj.address === '')">
                  Contract address is required
                </div>
              </div>
              <div class="col-3">
                <div class="max-width-240">
                  <div class="app-why-lbl light-50"
                       [ngClass]="{'secondary': pollObj.numberPerVote === undefined}">Number per vote
                  </div>
                </div>
                <div class="max-width-240">
                  <div class="form-group">
                    <input type="number" class="form-control app-why-floating-input light-70"
                           placeholder="Number per vote"
                           [ngClass]="{'set-input-border': pollObj.numberPerVote === undefined}"
                           [(ngModel)]="pollObj.numberPerVote">
                  </div>
                </div>
              </div>
            </div><div class="empty-info-container mr-top-48 pd-bottom-16" *ngIf="voteWeight === 'nftWeighted'">
              <div>
                <div class="app-why-lbl secondary ft-lato mr-bottom-8 text-uppercase">
                  Indexing
                </div>
                <label class="app-why-lbl f14 light-70">
                  Be aware that any new NFT contract will take some time to index (worst case up to 3 minutes per 100 tokens, depending on chain and server load) and poll voting user feedback will be inacurate until done. Voting will be recalculated at the end and if the indexing is done by then the results will be acurate.
                </label>
              </div>
            </div>
            <div class="empty-info-container mr-top-48 pd-bottom-16" *ngIf="voteWeight === 'nftWeighted'">
              <div>
                <div class="app-why-lbl secondary ft-lato mr-bottom-8 text-uppercase">
                  Max Collection Size
                </div>
                <label class="app-why-lbl f14 light-70">
                  Be aware that any Collection with a size bigger than 50,000 will not be indexed, but still return a successful rule creation. For such sizes please reach out to us on 
                  <a class="link" href="https://discord.gg/nD6YFKQTRF" target="_blank">Discord</a>.
                </label>
              </div>
            </div>
            <div class="d-flex align-items-center mr-top-40">
              <input type="radio" class="radio-button-primary"
                     id="tokenWeighted" name="filter"
                     [checked]="voteWeight === 'tokenWeighted'"
                     (click)="setWeight('tokenWeighted')"
                     value="filter_traits">
              <label class="app-why-lbl f12 mr-left-8 text-uppercase"
                     [ngClass]="{'primary': voteWeight === 'tokenWeighted', 'light-50': voteWeight !== 'tokenWeighted'}">
                token weighted
              </label>
            </div>
            <div class="mr-top-16 d-flex" *ngIf="voteWeight === 'tokenWeighted'">
              <div class="col-3 d-flex flex-column">
                <div>
                  <div class="app-why-lbl light-50">Network*</div>
                  <div class="pd-top-4">
                    <div>
                      <app-why-drop-down
                        [leftIcon]="true"
                        (dataSet)="setBlockChain($event)"
                        [dataList]="['Polygon','Terra']"
                        [placeholderText]="selectedNetwork">
                      </app-why-drop-down>
                    </div>
                  </div>
                </div>
                <div class="app-why-lbl error mr-top-8"
                     *ngIf="errorList.includes('blockchainName') && (selectedNetwork === 'Select network')">
                  Select Network
                </div>
              </div>
              <div class="col-6">
                <div class="max-width-240">
                  <div class="app-why-lbl light-50"
                       [ngClass]="{'secondary': pollObj.address === undefined}">Contract address*
                  </div>
                </div>
                <div class="max-width-240">
                  <div class="form-group">
                    <input type="text" class="form-control app-why-floating-input light-70"
                           placeholder="Enter contract address"
                           [ngClass]="{'set-input-border': pollObj.address === undefined}"
                           [(ngModel)]="pollObj.address">
                  </div>
                </div>
                <div class="app-why-lbl error"
                     *ngIf="errorList.includes('address') && (pollObj.address === undefined || pollObj.address === '')">
                  Contract address is required
                </div>
              </div>
              <div class="col-3">
                <div class="max-width-240">
                  <div class="app-why-lbl light-50"
                       [ngClass]="{'secondary': pollObj.numberPerVote === undefined}">Number per vote
                  </div>
                </div>
                <div class="max-width-240">
                  <div class="form-group">
                    <input type="number" class="form-control app-why-floating-input light-70"
                           placeholder="Number per vote"
                           [ngClass]="{'set-input-border': pollObj.numberPerVote === undefined}"
                           [(ngModel)]="pollObj.numberPerVote">
                  </div>
                </div>
              </div>
            </div>
            <div class="empty-info-container mr-top-48 pd-bottom-16" *ngIf="voteWeight === 'tokenWeighted'">
              <div>
                <div class="app-why-lbl secondary ft-lato mr-bottom-8 text-uppercase">
                  Indexing
                </div>
                <label class="app-why-lbl f14 light-70">
                  Be aware that any new token contract will take some time to index and poll voting user feedback will be inacurate until done. Voting will be recalculated at the end and if the indexing is done by then the results will be acurate.
                </label>
              </div>
            </div>

            <div class="d-flex align-items-center mr-top-40">
              <input type="radio" class="radio-button-primary"
                     id="roleWeighted" name="filter"
                     (click)="setWeight('roleWeighted')"
                     [checked]="voteWeight === 'roleWeighted'"
                     value="filter_traits">
              <label class="app-why-lbl f12 mr-left-8 text-uppercase"
                     [ngClass]="{'primary': voteWeight === 'roleWeighted', 'light-50': voteWeight !== 'roleWeighted'}">
                rule weighted
              </label>
            </div>
          </div>

          <div class="mr-top-40" *ngIf="voteWeight === 'roleWeighted'">
            <div class="rules-detail-title pd-box-16 d-flex flex-row justify-content-start align-items-start pd-right-40">
              <!--<div class="form-check">
                <input class="form-check-input check-box" type="checkbox" value="" id="rule-name">
              </div>-->
              <div class="rule-name-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                ROLE NAME
              </div>
              <div class="rule-id-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                RULE ID
              </div>
              <div class="population-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                POPULATION
              </div>
              <div class="chain-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
                CHAIN
              </div>
            </div>
            <div class="rules-item add-rule-item-hover d-flex flex-row align-items-center pd-lr-16 mr-bottom-8 cursor-pointer"
                 *ngFor="let rule of roleList"
                 (click)="checkUncheck(rule)"
                 [ngStyle]="{'background': (pollObj?.ruleIds !== undefined && pollObj?.ruleIds?.indexOf(rule?.id) >= 0) ? '#231f20' : '#231f2033'}">
              <div class="form-check d-flex align-items-center">
                <input class="form-check-input check-box"
                       [checked]="(pollObj?.ruleIds !== undefined && pollObj?.ruleIds?.indexOf(rule?.id) >= 0)"
                       type="checkbox" [value]="" id="{{rule?.roleName}}">
              </div>
              <div class="divider"></div>
              <div class="rules-item-name d-flex align-items-center pd-left-16 app-why-lbl f16 ft-500 light">
                {{rule?.roleName}}
              </div>
              <div class="divider"></div>
              <div class="rules-item-id d-flex align-items-center pd-left-16 app-why-lbl f16 ft-500 light">
                {{rule?.id}}
              </div>
              <div class="divider"></div>
              <div class="rules-item-population d-flex align-items-center pd-left-16 app-why-lbl f16 ft-500 light">
                {{rule?.population}}
              </div>
              <div class="divider"></div>
              <div class="rules-item-chain d-flex justify-content-between">
                <div
                  class="pd-left-16 app-why-lbl f16 ft-500 light server-text-container">{{rule?.blockchainName === 'polygon-mainnet' ? 'Polygon' : rule?.blockchainName}}</div>
                <div class="rules-item-chain-icon">
                  <img class="rules-item-chain-icon-container mr-right-16" imgFallback
                       src="{{rule?.blockchainImage}}" alt="drop">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="create-poll-widget height-192 d-flex flex-column pd-top-24 pd-lr-40 mr-top-8">
          <div class="d-flex justify-content-between">
            <div class="app-why-lbl f16 ft-500 light no-letter-spacing">SET QUORUM</div>
          </div>
          <div class="title-underline mr-top-8"></div>
          <div class="create-rule-content mr-top-40 d-flex align-items-center">
            <div class="col-6">
              <div class="app-why-lbl light-50">Percentage
              </div>
              <div class="mr-top-4">
                <app-why-slider [sliderValue]="quorumValue"
                                (rangeValue)="setRangValue($event)"></app-why-slider>
              </div>
            </div>
            <div class="col-3">
              <div class="value-width">
                <div class="app-why-lbl light-50">Set Value
                </div>
              </div>
              <div class="value-width">
                <div class="form-group">
                  <input type="text" class="form-control app-why-floating-input light-70"
                         placeholder="0%"
                         [(ngModel)]="value">
                </div>
              </div>
            </div>
          </div>
          <div class="empty-info-container mr-top-48 pd-bottom-16">
            <div *ngIf="voteWeight === 'nftWeighted'">
              <div class="app-why-lbl secondary ft-lato mr-bottom-8 text-uppercase">
                About NFT weighted voting
              </div>
              <label class="app-why-lbl f14 light-70">
                Quorum is calculated from the total size of the chosen collection
              </label>
            </div>
            <div *ngIf="voteWeight === 'tokenWeighted'">
              <div class="app-why-lbl secondary ft-lato mr-bottom-8 text-uppercase">
                About Token weighted voting
              </div>
              <label class="app-why-lbl f14 light-70">
                About Token weighted voting- Quorum is calculated from the total supply of the chosen token held in
                Lunar
                HQ linked wallets
              </label>
            </div>
            <div *ngIf="voteWeight === 'roleWeighted'">
              <div class="app-why-lbl secondary ft-lato mr-bottom-8 text-uppercase">
                About Role weighted voting
              </div>
              <label class="app-why-lbl f14 light-70">
                Quorum is calculated from the total number of people holding that role. For
                multiple roles it is the sum of all roles held.
              </label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="stepperIndex === 2" class="content text-center">
        <div class="create-poll-widget d-flex flex-column pd-top-24 pd-lr-40">
          <div class="d-flex justify-content-between">
            <div class="app-why-lbl f16 ft-bold light no-letter-spacing">POLL TIMINGS</div>
            <div class="buy-license d-flex- app-why-lbl f12 ft-bold primary">
              <div class="d-flex overflow-hidden">
                <div ngbDropdown container="body">
                  <button type="button" class="link-dropdown app-why-lbl f12 ft-bold primary"
                          ngbDropdownToggle> TIMEZONE: {{selectedTimeZone}}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                    <button ngbDropdownItem class="pd-left-24 app-why-lbl f12 ft-bold no-letter-spacing"
                            (click)="selectTimeZone('UTC')">UTC
                    </button>
                    <div class="dropdown-divider"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title-underline mr-top-8"></div>
          <div class="poll-timing-content mr-top-48">
            <div class="text-align-start d-flex align-items-center">
              <input class="radio-button-primary" type="radio"
                     [checked]="dateRadioSelected === 'today'"
                     (click)="getDatePicker('today')"
                     name="dateSelected" id="today">
              <label class="app-why-lbl mr-left-8 light-70 f12" for="today">TODAY</label>
            </div>
            <div class="d-flex mr-top-16 mr-left-20 justify-content-between"
                 *ngIf="dateRadioSelected === 'today'">
              <div class="d-flex flex-column">
                <div class="text-align-start">
                  <label class="app-why-lbl f-10 ft-lato secondary text-start mr-bottom-2">
                    Start time*
                  </label>
                  <input class="form-control date-time-input" type="time"
                         (ngModelChange)="validateTime($event)"
                         [(ngModel)]="startTime"/>
                </div>
                <div>
                  <div class="app-why-lbl error"
                       *ngIf="errorList.includes('startTime') && (startTime === undefined || startTime === '')">
                    required
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="text-align-start">
                  <label class="app-why-lbl f-10 ft-lato secondary text-start mr-bottom-2" for="closingDate">
                    Closing Date*
                  </label>
                  <input class="form-control date-time-input" type="date"
                         [min]="todayDate | date :'yyyy-MM-dd'"
                         id="closingDate" [ngModel]="closingDate | date:'yyyy-MM-dd'"
                         (ngModelChange)="setClosingDate($event)"/>
                </div>
                <div>
                  <div class="app-why-lbl error"
                       *ngIf="errorList.includes('closingDate') && (closingDate === undefined || closingDate === '')">
                    required
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="text-align-start">
                  <label class="app-why-lbl f-10 ft-lato secondary text-start mr-bottom-2">
                    Closing Time*
                  </label>
                  <input class="form-control date-time-input"
                         type="time"
                         (ngModelChange)="validateClosingTime($event)"
                         [(ngModel)]="closingTime"/>
                </div>
                <div>
                  <div class="app-why-lbl error"
                       *ngIf="errorList.includes('closingTime') && (closingTime === undefined || closingTime === '')">
                    required
                  </div>
                </div>
              </div>
            </div>
            <div class="mr-top-16 text-align-start d-flex align-items-center">
              <input class="radio-button-primary" type="radio"
                     [checked]="dateRadioSelected === 'pick_date'"
                     (click)="getDatePicker('pick_date')"
                     name="dateSelected" id="pick_date">
              <label class="app-why-lbl pd-top-2 mr-left-8 light-70 f12" for="pick_date">PICK
                DATE</label>
            </div>
            <div class="d-flex mr-top-16 mr-left-20 justify-content-between"
                 *ngIf="dateRadioSelected === 'pick_date'">
              <div class="d-flex flex-column">
                <label class="app-why-lbl f-10 ft-lato secondary text-start mr-bottom-2">
                  Start Date: </label>
                <input class="form-control date-time-input" type="date"
                       [min]="todayDate | date :'yyyy-MM-dd'"
                       (ngModelChange)="validateClosingDateFn($event)"
                       id="pickStartDate" [ngModel]="startDate | date:'yyyy-MM-dd'"/>
              </div>
              <div class="d-flex flex-column">
                <label class="app-why-lbl f-10 ft-lato secondary text-start mr-bottom-2">
                  Start time: </label>
                <input class="form-control date-time-input" type="time" id="pickStartTime" [(ngModel)]="startTime"/>
              </div>
              <div class="d-flex flex-column">
                <label class="app-why-lbl f-10 ft-lato secondary text-start mr-bottom-2">
                  Closing Date:
                </label>
                <input class="form-control date-time-input" type="date"
                       [min]="validateClosingDate | date :'yyyy-MM-dd'"
                       id="pickClosingDate" [ngModel]="closingDate | date:'yyyy-MM-dd'"
                       (ngModelChange)="closingDate = $event">
              </div>
              <div class="d-flex flex-column">
                <label class="app-why-lbl f-10 ft-lato secondary text-start mr-bottom-2">
                  Closing Time: </label>
                <input class="form-control date-time-input" type="time" id="pickClosingTime" [(ngModel)]="closingTime"/>
              </div>
            </div>
            <div class="text-align-start">
              <div class="app-why-lbl error"
                   *ngIf="errorList.includes('dateRadioSelected') && (startTime === undefined || dateRadioSelected === '')">
                Please select poll timings
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="stepperIndex >= 3" class="content text-center">
        <div class="create-poll-widget add-min-ht d-flex flex-column pd-top-24 pd-lr-40">
          <div class="d-flex justify-content-between">
            <div class="app-why-lbl f16 ft-bold light no-letter-spacing">{{stepTitle}}</div>
          </div>
          <div class="title-underline mr-top-8"></div>
          <div class="create-rule-content mr-top-48">
            <div class="app-why-lbl light-50 text-align-start">Network*</div>
            <app-why-drop-down [leftIcon]="true" [dataList]="channelList"
                               [placeholderText]="channelName"
                               [keyField]="'name'"
                               (dataSet)="setChannel($event)"></app-why-drop-down>
          </div>
          <div class="app-why-lbl error text-align-start"
               *ngIf="errorList.includes('discordChannelId') && (channelName === 'Select Channel')">
            Please select channel
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex navigate-steps mr-top-24 mr-bottom-80">
      <div class="col-3">
        <div (click)="saveDraft()" class="show-cursor d-flex align-items-center">
          <ion-icon name="save-outline" class="app-why-icon ic20 light-50"></ion-icon>
          <label class="show-cursor align-text-top app-why-lbl f12 ft-bold light-50 mr-left-8">SAVE DRAFT</label>
        </div>
      </div>
      <div class="d-flex justify-content-end col-9">
        <app-why-lunar-hq-cta-two [btnLabel]="'BACK'" [btnTheme]="'bg--dark'"
                                  [buttonSize]="'sm'" [btnDisabled]="stepperIndex === 0"
                                  (click)="previous()" [btnLabelClass]="'app-why-lbl f12 ft-lato ft-bold'">
        </app-why-lunar-hq-cta-two>
        <app-why-cta-one (clickEvent)="next()"
                         [cssClass]="cssClass.cta1Sm + ' mr-left-24'"
                         [btnLabel]="stepperIndex === 3 ? 'PREVIEW' : 'NEXT'">
        </app-why-cta-one>
        <!--<app-why-cta-one *ngIf="stepperIndex === 3" (click)="next()"
                         [cssClass]="cssClass.cta1Sm + ' mr-left-24'"
                         [btnLabel]="'PREVIEW'">
        </app-why-cta-one>-->
      </div>
    </div>

  </article>

  <div class="preview-container" *ngIf="viewPreview">
    <app-why-lunar-hq-preview-poll
      [pollObj]="pollObj"
      [detailsObj]="detailsObj"
      (createPollEvent)="createPoll()"
      (closeEvent)="closePreview()"></app-why-lunar-hq-preview-poll>
  </div>
</app-why-header-side-nav>
