<div class="rules-view flex flex-nowrap">
  <div class="rules-view-header">
    <div class="close-button mr-top-36 mr-right-24 add-cursor" (click)="closeView()">
      <ion-icon name="close-outline" class="app-why-icon ic24 light-50"></ion-icon>
    </div>
  </div>
  <div class="rules-view-container d-flex flex-column mr-left-40">
    <div class="rules-name-container pd-box-24 d-flex flex-column"
         [ngClass]="{'full-height': viewMore}">
      <div class="rule-name app-why-lbl f10 ft-lato light-50 letter-spacing-02">
        RULE NAME
      </div>
      <div class="rule-title-container pd-top-8 d-flex justify-content-between">
        <div class="title-container">
          <label class="rule-title app-why-lbl f16 ft-bold light break-word">
            {{ruleObj?.name}}
          </label>
          <span *ngIf="paused" class="pd-top-2 pd-left-4 app-why-lbl f10 ft-lato error letter-spacing-02">Paused</span>
        </div>
        <div class="rule-title d-flex align-items-center add-cursor add-hover" (click)="viewMore = !viewMore">
          <div class="app-why-lbl f12 ft-bold light-70 letter-spacing-047" *ngIf="!viewMore">
            MORE
          </div>
          <div class="app-why-lbl f12 ft-bold light-70 letter-spacing-047" *ngIf="viewMore">
            LESS
          </div>
          <ion-icon name="{{viewMore ? 'chevron-up-outline': 'chevron-down-outline'}}"
                    class="pd-left-8 app-why-icon ic20 light-70"></ion-icon>
        </div>
      </div>

      <div *ngIf="viewMore" class="pd-top-24">
        <div class="rule-name app-why-lbl f10 ft-lato light-50 letter-spacing-02 text-uppercase">
          Description
        </div>
        <div class="app-why-lbl f14 light-70 ft-lato">
          {{ruleObj?.description}}
        </div>
      </div>
    </div>
    <div class="rules-content pd-box-24 d-flex flex-column" *ngIf="!viewMore">
      <div class="rules-rule-title app-why-lbl f10 ft-lato light-50 letter-spacing-02 text-uppercase">
        Rules
      </div>
      <div class="rule-item d-flex flex-column mr-top-8">
        <div>
          <span class="app-why-lbl f14 ft-lato light-50 letter-spacing-02">Base Role:\ </span>
          <span class="app-why-lbl f14 ft-lato light">{{ruleObj?.roleName}}</span>
        </div>
        <div class="pd-top-8">
          <span class="app-why-lbl f14 ft-lato light" *ngIf="ruleObj?.ruleType">{{ruleObj?.ruleType}}</span>
          <span class="app-why-lbl f14 ft-lato light" *ngIf="!ruleObj?.ruleType">
            {{ruleObj?.id?.includes('N-') ? 'NFT' : (ruleObj?.id?.includes('T-') ? 'TOKEN' : 'COMPLEX')}}
          </span>
        </div>
        <div class="" *ngIf="isComplex()">
          <span class="app-why-lbl f14 ft-lato success">&nbsp;[&nbsp;and&nbsp;]&nbsp;</span>
          <span class="app-why-lbl f14 ft-lato light">Rule</span>
          <span class="app-why-lbl f14 ft-lato light-50">&nbsp;[&nbsp;is&nbsp;]&nbsp;</span>
          <span class="app-why-lbl f14 ft-lato light word-break">{{ruleObj?.complexExpression}}</span>
        </div>
        <div class="" *ngIf="!isComplex()">
          <span class="app-why-lbl f14 ft-lato success">&nbsp;[&nbsp;and&nbsp;]&nbsp;</span>
          <span class="app-why-lbl f14 ft-lato light">Network</span>
          <span class="app-why-lbl f14 ft-lato light-50">&nbsp;[&nbsp;is&nbsp;]&nbsp;</span>
          <span class="app-why-lbl f14 ft-lato light">{{ruleObj?.blockchainName}}</span>
        </div>
        <div class="" *ngIf="!isComplex()">
          <span class="app-why-lbl f14 ft-lato success">&nbsp;[&nbsp;and&nbsp;]&nbsp;</span>
          <span class="app-why-lbl f14 ft-lato light">Address</span>
          <span class="app-why-lbl f14 ft-lato light-50">&nbsp;[&nbsp;is&nbsp;]&nbsp;</span>
          <span class="app-why-lbl f14 ft-lato light word-break"
                *ngIf="ruleObj?.nftAddress">{{ruleObj?.nftAddress}}</span>
          <span class="app-why-lbl f14 ft-lato light word-break"
                *ngIf="!ruleObj?.nftAddress">{{ruleObj?.address}}</span>
        </div>
        <div class="" *ngIf="!isComplex()">
          <span class="app-why-lbl f14 ft-lato success">&nbsp;[&nbsp;and&nbsp;]&nbsp;</span>
          <span class="app-why-lbl f14 ft-lato light">Qty</span>
          <span class="pd-lr-4 app-why-lbl f14 ft-lato light-50"
                *ngIf="ruleObj?.operatorName">&nbsp;[&nbsp;{{ruleObj?.operatorName}}&nbsp;]&nbsp;</span>
          <span class="pd-lr-4 app-why-lbl f14 ft-lato light-50"
                *ngIf="!ruleObj?.operatorName">&nbsp;[&nbsp;{{getOperator(ruleObj?.quantityOperatorName)}}&nbsp;]&nbsp;</span>
          <span class="app-why-lbl f14 ft-lato light">{{ruleObj?.quantity}}</span>
        </div>
        <div
          *ngIf="ruleObj?.ruleType !== 'TOKEN' && (ruleObj?.tokenIds?.length >= 1) && !isComplex()">
          <span class="app-why-lbl f14 ft-lato success">&nbsp;[&nbsp;and&nbsp;]&nbsp;&nbsp;Filter by NFT ID </span>
        </div>
        <div
          *ngIf="ruleObj?.ruleType !== 'TOKEN' && (ruleObj?.tokenIds?.length >= 1) && !isComplex()"
          class="mr-top-24 rules-rule-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
          NFT ID
        </div>
        <div
          *ngIf="ruleObj?.ruleType !== 'TOKEN' && (ruleObj?.tokenIds?.length >= 1) && !isComplex()">
          <span class="app-why-lbl f14 ft-lato light-50">&nbsp;[&nbsp;is&nbsp;]&nbsp;</span>
          <span class="app-why-lbl f14 ft-lato light word-break">{{ruleObj?.tokenIds | formatNFTID}}</span>
        </div>
      </div>
      <div class="rule-item-existing-rule-end app-why-lbl f14 ft-lato light-50 mr-top-8">
        &lt;END&gt;
      </div>
    </div>
  </div>
  <div class="rules-action-container justify-content-center d-flex mr-left-40 pd-top-24"
       *ngIf="!paused && !update && (hasPermission || ruleObj?.hasPermission)">
    <div class="rules-action-item">
      <app-why-cta-three
        [parentClass]="'flex-column'"
        [btnClass]="cssClass.cta3BtnLabel"
        [btnLabel]="'Remove'"
        [leftIconType]="'close-circle-outline'"
        [iconClass]="cssClass.cta3Icon20"
        (click)="removeRule()">
      </app-why-cta-three>
    </div>
    <div class="rules-action-item mr-left-24" *ngIf="ruleObj?.active">
      <app-why-cta-three
        [parentClass]="'flex-column'"
        [btnClass]="cssClass.cta3BtnLabel"
        [btnLabel]="'Pause'"
        [leftIconType]="'pause-circle-outline'"
        [iconClass]="cssClass.cta3Icon20"
        (click)="pauseRule()">
      </app-why-cta-three>
    </div>
    <div class="rules-action-item mr-left-24" *ngIf="!ruleObj?.active">
      <app-why-cta-three
        [parentClass]="'flex-column'"
        [btnClass]="cssClass.cta3BtnLabelSuccess"
        [btnLabel]="'Resume'"
        [leftIconType]="'play-circle-outline'"
        [iconClass]="cssClass.cta3SuccessIcon20"
        (click)="resumeRule()">
      </app-why-cta-three>
    </div>
    <div class="rules-action-item mr-left-24">
      <app-why-cta-three
        [parentClass]="'flex-column'"
        [btnClass]="cssClass.cta3BtnLabelPrimary"
        [btnLabel]="'Edit'"
        [leftIconType]="'pencil'"
        (click)="editRule()"
        [iconClass]="cssClass.cta3IconPrimary20">
      </app-why-cta-three>
    </div>
  </div>
  <div class="rules-action-container justify-content-center d-flex pd-top-40" *ngIf="paused || update">
    <app-why-cta-one
      [cssClass]="cssClass.cta1Md + ' cursor-pointer'"
      (click)="updatePauseRole()"
      [btnLabel]="ruleObj?.id ? 'Update Rule' : 'Create Rule'"></app-why-cta-one>
  </div>
</div>
<!-- Remove Rule Confirmation Modal Stated -->
<app-why-modal id="removeRuleModal" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light">REMOVE RULE</div>
    <div class="pd-top-32">
      <label class="app-why-lbl f16 ft-lato no-letter-spacing light-70">
        <div>
          Removing this rule will cause all Discord members to lose any associated roles. It cannot be undone.
        </div>
      </label>
    </div>
    <div class="d-flex justify-content-between pd-top-80 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two [btnTheme]="'bg--dark'" (click)="cancelModal('removeRuleModal')">
        </app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one [cssClass]="cssClass.cta1Md" [btnLabel]="'Remove'" (click)="confirmRemoveRule()">
        </app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Remove Rule Conformation Modal Ended -->
<!-- Pause Rule Confirmation Modal Stated -->
<app-why-modal id="pauseRuleModal" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light">PAUSE RULE?</div>
    <div class="pd-top-32">
      <label class="app-why-lbl f16 ft-lato no-letter-spacing light-70">
        <div>
          Pausing this rule will cause all Discord members to lose any associated roles. It can be unpaused at any time
          to restore the roles.
        </div>
      </label>
    </div>
    <div class="d-flex justify-content-between pd-top-80 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two [btnTheme]="'bg--dark'" (click)="cancelModal('pauseRuleModal')">
        </app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one [cssClass]="cssClass.cta1Md" [btnLabel]="'Confirm'" (click)="confirmPauseRule()">
        </app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Pause Rule Conformation Modal Ended -->
