<app-why-header
  [buttonLabel]="''"
  [profileObj]="{viewProfile: false, viewSettings: false}"
  [title]="currentStep"
  [subTitle]="''"></app-why-header>

<section class="wc-container">

  <article class="option-main-wrapper">
    <div class="first-container">

      <div class="option-content-wrapper">
        <div class="option-container active-container">
          <div class="d-flex justify-content-center pd-bottom-8"
               *ngIf="selected === 'discord' || selected === 'discord_connected'">
            <ion-icon class="app-why-icon ic20 light" name="checkmark-circle-outline"></ion-icon>
          </div>
          <div class="text-center pd-bottom-8">
            <label class="app-why-lbl f14 secondary ft-uni"
                   [ngClass]="{'light-text': (selected === 'discord' || selected === 'discord_connected')}">
              {{walletTitle}}
            </label>
          </div>
          <div class="option-wrapper"
               [ngClass]="{'on-done': selected === 'discord', 'on-connect': selected === 'discord_connected'}">
            <div class="pd-bottom-32" *ngIf="selected !== 'discord_connected'">
              <label class="app-why-lbl f16 light-70 ft-lato">
                {{walletDescription}}
              </label>
            </div>
            <div class="d-flex justify-content-center align-items-center"
                 *ngIf="selected !== 'discord' && selected !== 'discord_connected'">
              <app-why-cta-one
                [iconClass]="cssClass.cta1Icon"
                [iconType]="'file-tray-full'"
                (clickEvent)="connectWallet()"
                [cssClass]="cssClass.cta1"
                [btnLabel]="'Connect Wallet'"></app-why-cta-one>
            </div>

            <div class="d-flex justify-content-center flex-column"
                 *ngIf="selected === 'discord' || selected === 'discord_connected'">
              <div class="d-flex justify-content-center"
                   *ngIf="!(polygonAddress === 'polygon wallet' && selected === 'discord')">
                <app-why-cta-one
                  [cssClass]="polygonAddress.length< 20 ? cssClass.cta1LightActive : cssClass.cta1Dark100Active"
                  (click)="editConnection('polygon', polygonAddress)"
                  [rightIconType]="(polygonAddress.length< 20 ? 'add-outline' : 'close-circle-outline')"
                  [rightIconClass]="'ic16'"
                  [iconPath]="'./assets/img/svg/matic-logo.svg'"
                  [btnLabel]="polygonAddress"></app-why-cta-one>
              </div>

              <div class="pd-top-16 d-flex justify-content-center"
                   *ngIf="!(terraAddress === 'terra wallet' && selected === 'discord')">
                <app-why-cta-one
                  [cssClass]="terraAddress.length< 20 ? cssClass.cta1LightActive : cssClass.cta1Dark100Active"
                  (click)="editConnection('terra', terraAddress)"
                  [rightIconType]="(terraAddress.length< 20 ? 'add-outline' : 'close-circle-outline')"
                  [rightIconClass]="'ic16'"
                  [iconPath]="'./assets/img/svg/terra_icon.svg'"
                  [btnLabel]="terraAddress"></app-why-cta-one>
              </div>

              <!--<div class="pd-top-16 d-flex justify-content-center"
                   *ngIf="!(terraAddress === 'terra wallet' && selected === 'discord')">
                <app-why-cta-one
                  [cssClass]="terraAddress.length< 20 ? cssClass.cta1LightActive : cssClass.cta1Dark100Active"
                  (click)="editConnection('terra', terraAddress)"
                  [rightIconType]="(terraAddress.length< 20 ? 'add-outline' : 'close-circle-outline')"
                  [rightIconClass]="'ic16'"
                  [iconPath]="'./assets/img/svg/terra_icon.svg'"
                  [btnLabel]="terraClassicAddress"></app-why-cta-one>
              </div>-->
            </div>
          </div>
        </div>
        <div class="option-container add-left-pd"
             [ngClass]="{'active-container': (selected === 'discord' || selected === 'discord_connected')}">
          <div class="d-flex justify-content-center pd-bottom-8"
               *ngIf="selected === 'discord_connected'">
            <ion-icon class="app-why-icon ic20 light" name="checkmark-circle-outline"></ion-icon>
          </div>
          <div class="text-center pd-bottom-8">
            <label class="app-why-lbl f14 light ft-uni"
                   [ngClass]="{'secondary': (selected === 'discord')}">
              {{discordTitle}}
            </label>
          </div>
          <div *ngIf="selected === 'discord_connected'" class="d-flex justify-content-center">
            <app-why-cta-one
              [cssClass]="cssClass.cta1Dark100Active"
              [rightIconType]="'swap-vertical-outline'"
              (clickEvent)="changeDiscord()"
              [btnImage]="discordProfileObj?.discordProfileImage"
              [btnLabel]="discordProfileObj?.discordName"></app-why-cta-one>
          </div>
          <div class="option-wrapper discord-container" *ngIf="selected !== 'discord_connected'">
            <div class="pd-bottom-32">
              <label class="app-why-lbl f16 light-70 ft-lato">
                Lunar HQ links Discord to your crypto wallet. Unlock the community potential of your crypto assets with
                server roles, token weighted voting and other powerful features.
              </label>
            </div>
            <div class="d-flex justify-content-center">
              <app-why-cta-one
                [iconPath]="'/assets/img/svg/discord-brands-dark.svg'"
                (clickEvent)="connectToDiscord()"
                [isDisabled]="selected === 'connect'"
                [iconClass]="cssClass.cta1Icon"
                [cssClass]="cssClass.cta1"
                [btnLabel]="'Connect Discord'"></app-why-cta-one>
            </div>
          </div>
        </div>
      </div>

      <div class="discord-con-text-container" *ngIf="selected === 'discord_connected'">
        <div>
          <label class="app-why-lbl f16 light-70 ft-lato">
            You have now linked your Discord Profile to a wallet. Return to Discord to see your new communities.
          </label>
        </div>
        <div class="pd-top-24">
          <label class="app-why-lbl f16 light-70 ft-lato">If you have a wallet on another supported chain you may add it
            now. Support for multiple wallets per chain, and many other abilities, will arrive with Lunar HQ in the
            coming
            months.</label>
        </div>

        <div class="pd-top-56 pd-bottom-80 d-flex justify-content-center">
          <app-why-cta-one
            [cssClass]="cssClass.cta1"
            (clickEvent)="gotToMyDiscord()"
            [btnLabel]="'Enter Lunar Hq'"></app-why-cta-one>
        </div>
      </div>
    </div>


    <div class="placeholder-wrapper" [ngClass]="{'move-placeholder': selected === 'discord_connected'}">
      <div>
        <div class="social-link-container">
          <div class="mr-bottom-8">
            <app-why-lunar-hq-social-links></app-why-lunar-hq-social-links>
          </div>
          <div class="d-flex justify-content-between mr-bottom-8">
            <div class="server-details-container">
              <img class="app-why-icon ic17" src="../../../../assets/img/svg/server.svg" alt="">
              <span class="pd-left-6 app-why-lbl f1418 secondary">5000</span>
            </div>
            <div class="server-details-container">
              <img class="app-why-icon ic17" src="../../../../assets/img/svg/user-group-solid.svg" alt="">
              <span class="pd-left-6 app-why-lbl f1418 secondary"> 75</span>
            </div>
          </div>
        </div>
        <div class="d-flex add-cursor" (click)="navigateToGravidao()">
          <div>
            <img class="built-by-container"
                 src="../../../../assets/img/png/footer-label-1.png" alt="">
          </div>
          <div class="pd-left-2">
            <img class="logo-container"
                 src="../../../../assets/img/png/footer-label-2.png" alt="">
          </div>
        </div>
        <div class="d-flex mr-top-28 justify-content-center add-cursor mr-bottom-40" (click)="navigateToRippler()">
          <img class="rippler-logo-container"
               src="../../../../assets/img/svg/Rippler-grey.svg" alt="">
        </div>
      </div>
    </div>
  </article>

</section>

<!-- Connect wallet chains Modal Start -->
<app-why-modal id="connectWallet" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light">Connect</div>

    <div class="d-flex justify-content-center pd-top-48">
      <app-why-cta-one
        [cssClass]="selectedWallet === 'polygon' ? cssClass.cta1Dark50Active : cssClass.cta1Dark50"
        (click)="selectOption('polygon')"
        [iconPath]="'./assets/img/svg/matic-logo.svg'"
        [btnLabel]="'Polygon'"></app-why-cta-one>
    </div>
    <div class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="selectedWallet === 'terra' ? cssClass.cta1Dark50Active : cssClass.cta1Dark50"
        (click)="selectOption('terra')"
        [iconPath]="'./assets/img/svg/terra_icon.svg'"
        [btnLabel]="'Terra'"></app-why-cta-one>
    </div>
    <!--<div class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="selectedWallet === 'terra' ? cssClass.cta1Dark50Active : cssClass.cta1Dark50"
        (click)="selectOption('terraClassic')"
        [iconPath]="'./assets/img/svg/terra_icon.svg'"
        [btnLabel]="'Terra Classic'"></app-why-cta-one>
    </div>-->
    <div class="d-flex justify-content-between pd-top-56 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two
          (click)="exitModal()"
          [btnTheme]="'bg--dark'"></app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one
          (click)="createConnection()"
          [cssClass]="selectedWallet === '' ? cssClass.cta1MdInActive : cssClass.cta1Md"
          [btnLabel]="'Confirm'"></app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Unlink Discord Confirmation Modal End -->

<!-- Terra wallet chains connection list Modal Start -->
<app-why-modal id="terraWallet" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light mr-bottom-48">Terra Wallet</div>

    <div class="d-flex justify-content-center pd-top-16" *ngFor="let terraConnect of availableConnections">
      <app-why-cta-one
        [cssClass]="cssClass.cta1Dark50"
        (click)="handleTerraConnection(terraConnect.type, terraConnect.identifier)"
        [walletIcon]="terraConnect.icon"
        [btnLabel]="terraConnect.name === 'Terra Station Wallet' ? 'Terra station' : terraConnect.name">
      </app-why-cta-one>
    </div>
    <div class="d-flex justify-content-center pd-top-16">
      <app-why-cta-one
        [cssClass]="cssClass.cta1Dark50"
        (click)="handleTerraConnection('EXTENSION', 'station', true)"
        [walletIcon]="terraIcon"
        [btnLabel]="'Ledger Station'">
      </app-why-cta-one>
    </div>
    <div class="mr-bottom-64"></div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Terra wallet chains connection list Modal End -->

<!-- Remove wallet Modal Start -->
<app-why-modal id="removeWalletModal" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium no-letter-spacing light">remove wallet ?</div>
    <div class="pd-top-32">
      <label class="app-why-lbl f16 ft-lato no-letter-spacing light-70 text-center">
        <div>Removing this wallet will remove it from your profile and you will lose access to any services requiring
          assets held in
          this wallet.
        </div>
      </label>
    </div>
    <div class="d-flex justify-content-between pd-top-56 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two [btnTheme]="'bg--dark'" (click)="cancelModal('removeWalletModal')">
        </app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one [cssClass]="cssClass.cta1Md" [btnLabel]="'Remove'" (click)="confirmRemoveWallet()">
        </app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Remove wallet Modal End -->


<!-- Unlink Discord Confirmation Modal Start -->
<app-why-modal id="changeDiscordModal" [popUpType]="'confirmation'">
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light">Change discord ?</div>
    <div class="pd-top-32">
      <label class="app-why-lbl f16 ft-lato no-letter-spacing light-70">
        <div>If you change your Discord Profile from Lunar HQ,
          you will no longer be able to access controlled channels or manage your Discord servers connected to th discord.
        </div>
      </label>
    </div>
    <div class="d-flex justify-content-between pd-top-56 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two [btnTheme]="'bg--dark'" (click)="cancelModal('changeDiscordModal')">
        </app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one [cssClass]="cssClass.cta1Md" [btnLabel]="'Switch'" (click)="connectToDiscord()">
        </app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>
</app-why-modal>
<!-- Unlink Discord Confirmation Modal End -->
