@font-face {
  font-family: Jura;
  src: url("../assets/fonts/Jura-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Jura;
  src: url("../assets/fonts/Jura-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Jura;
  src: url("../assets/fonts/Jura-Bold.woff2");
  font-weight: Bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Jura;
  src: url("../assets/fonts/Jura-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Bold.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Uniwars;
  src: url("../assets/fonts/Uniwars-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
