$theme-colors: (
  primary-dark: #00B0B0,
  primary: #00FFFF,
  primary-70:#00FFFFB3,
  primary-50:#00FFFF80,
  primary-20:#00FFFF33,
  primary-10:#00FFFF1A,

  secondary-dark:#CCCC27,
  secondary:#FFFF40,
  secondary-70:#FFFF40B3,
  secondary-50:#FFFF4080,
  secondary-20:#FFFF4033,
  secondary-10:#FFFF401A,

  tertiary: #0F0C10,
  tertiary-70: #0F0C10B3,
  tertiary-50: #0F0C1080,
  tertiary-20: #0F0C1033,
  tertiary-10: #0F0C101A,

  dark: #231f20,
  dark-70: #231f20B3,
  dark-50: #231f2080,
  dark-20: #231f2033,
  dark-10: #231f201A,

  light: #C4C4C4,
  light-70: #C4C4C4B3,
  light-50: #C4C4C480,
  light-20: #C4C4C433,
  light-10: #C4C4C41A,

  sucsess: #40FFA0,
  warning: #FBA400,
  error: #FF40A0,

  bg-dark: #09060B,
  bg-dark-90: rgba(9, 6, 11, 0.9),
  bg-dark-50: #09060B80
);
