.vertical-divider {
  width: 1px;
  height: 40px;
  background: var(--primary);
}

.horizontal-divider {
  height: 1px;
  width: 100%;
  background: var(--primary);

  &.dark {
    background: var(--dark);
  }

  &.dark-70 {
    background: var(--dark-70);
  }

  &.dark-50 {
    background: var(--dark-50);
  }

  &.light {
    background: var(--light);
  }

  &.light-70 {
    background: var(--light-70);
  }

  &.light-50 {
    background: var(--light-50);
  }

  &.light-20 {
    background: var(--light-20);
  }
}
