@use "sass:math";

@mixin notch($notchSize) {
  clip-path: polygon(
      0% 0px, /* top left */
      0px 0%, /* top left */
      calc(100% - #{$notchSize}) 0%, /* top right */
      100% #{$notchSize}, /* top right */
      100% 100%, /* bottom right */
      100% 100%, /* bottom right */
      #{$notchSize} 100%, /* bottom left */
      0 calc(100% - #{$notchSize}) /* bottom left */
  );
}


@function toRem($value) {
  $remValue: math.div($value, 16) + rem;
  //$remValue: ($value / 16) + rem;
  @return $remValue;
}

// modal top-bottom image wrapper

.modal-wrapper {
  text-align: center;
  min-height: 200px;
  background: url(../assets/img/png/popup-top.png) top no-repeat, url(../assets/img/png/popup-bottom.png) no-repeat bottom;
  background-size: contain;
}

// modal background
.modal-container {
  background-image: linear-gradient(rgb(35 31 32 / 10%), rgb(73 66 67 / 10%));
  //background: var(--bg-dark);
  @include notch(8px);
}

// background-wrapper
@mixin bg--wrapper {
  background: var(--tertiary);
  @include notch(8px);
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $max: map-get($breakpoints, $name);
  @return if($max and $max > 0, $max - .02, null);
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}
