// toggle button
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 14px;

  &.primary {

    .toggle-switch {
      background: var(--light-50);
    }

    .toggle-switch:before {
      background: var(--dark);
    }

    input:checked + .toggle-switch {
      background: var(--primary);
    }
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &.light-70 {
    background: var(--light-70);
  }
}

.toggle-switch:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 1.5px;
  top: 1.5px;
  background: var(--tertiary);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-switch {
  background-color: var(--dark-70);

  &.light-70 {
    background: var(--primary);
  }
}


input:focus + .toggle-switch {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .toggle-switch:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.toggle-switch.round {
  border-radius: 12px;

  &.primary {
    background-color: var(--primary);
  }
}

.toggle-switch.round:before {
  border-radius: 50%;
}


// check box
.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary) !important;

  + span {
    color: var(--primary) !important;
  }
}

.form-check-input:focus {
  border-color: var(--dark-70);
  box-shadow: none;
}

.form-check-input {
  border: 1px solid var(--dark-70);
}

// select
.form-select:focus {
  border-color: var(--dark-70);
  box-shadow: none;
}

/*

.dropdown-toggle{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 2px solid #dc3545;
  font-weight: 600;
}
.dropdown-toggle:focus{

  box-shadow: none !important;

}


.dropdown-toggle::after {

  display: none;

}

.dropdown-menu{

  width: 200px;
  border: 2px solid #F44336;
  padding: 0rem 0;
  transform: translate3d(0px, 50px, 0px) !important;

}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  background-color: #dc3545;
  padding: 12px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 12px;

}
*/
