<app-why-header-side-nav
  [activeTab]="'POLLS'"
  [title]="'Polls '+ nestedMenu"
  [activeSubMenuTab]="nestedMenu"
  [nestedMenuSelected]="nestedMenu"
  (profileClick)="navigateToPolls()">
  <div class="flex flex-nowrap">
    <div class="search-bar-container my-server">
      <div class="d-flex justify-content-between back-button">
        <div class="pd-left-24 pd-top-21 pd-bottom-21">
          <app-why-cta-three [btnClass]="cssClass.cta3Primary" [btnLabel]="'Back'" [leftIconType]="'chevron-back'"
                             [iconClass]="cssClass.cta3PrimaryIcon" (click)="navigateBack()">
          </app-why-cta-three>
        </div>
        <div class="d-flex pd-right-24 mr-right-24">
          <div class="d-flex align-items-center">
            <div class="d-flex">
              <app-why-drop-down [leftIcon]="true"
                                 (dataSet)="filterList($event)"
                                 [placeholderText]="'VIEW ALL'"
                                 [dataList]="statusList"></app-why-drop-down>
            </div>
          </div>
        </div>
        <div style="width: 76px;">

        </div>
      </div>
    </div>

    <div class="mr-top-56">
      <div *ngFor="let pollObj of pollsList" class="poll-list-wrapper">
        <app-why-lunar-hq-poll-cell [pollObj]="pollObj"
                                    (deletePollEvent)="pollsFn()"
                                    (previewPollEvent)="previewPoll($event)"
                                    (editPollEvent)="editPoll($event)"
                                    [currentDateTime]="currentDateTime"></app-why-lunar-hq-poll-cell>
      </div>
    </div>

    <div class="mr-top-40 mr-bottom-80 d-flex justify-content-center">
      <app-why-cta-three
        [btnClass]="cssClass.cta3BtnLabel + ' btn-hover'"
        [btnLabel]="'BACK TO TOP'"
        [leftIconType]="'chevron-up-outline'"
        [iconClass]="cssClass.cta3Icon + ' btn-hover'"
        [parentClass]="'flex-column h-100'"
        (click)="goToTop()">
      </app-why-cta-three>
    </div>
  </div>
  <!--</app-why-side-nav>-->
</app-why-header-side-nav>
<div class="preview-container" *ngIf="viewPreview">
  <app-why-lunar-hq-preview-poll
    [pollObj]="pollObj"
    [isReadonly]="true"
    (closeEvent)="viewPreview = false"></app-why-lunar-hq-preview-poll>
</div>
