<div class="poll-item d-flex align-items-center">
  <div class="poll-item-image-container d-flex justify-content-center">
    <img class="poll-item-image" [src]="pollObj?.discordServerIcon" alt="GraviDAO">
  </div>
  <div class="vertical-divider ht64 light-20"></div>
  <div class="poll-item-desc d-flex flex-column pd-lr-24">
    <div class="poll-item-name app-why-lbl f16 ft-bold light add-on-hover" (click)="previewPoll()">
      {{pollObj?.title}}
    </div>
    <div class="poll-item-details pd-top-8 d-flex justify-content-between">
      <div class="poll-item-server app-why-lbl f10 ft-lato light-50 letter-spacing-02 text-uppercase">
        {{pollObj?.discordServerName}}
      </div>
      <div class="poll-item-detail-info app-why-lbl f10 ft-lato light-50 letter-spacing-02" *ngIf="pollObj">
        ID : {{pollObj?.id}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;BY: {{pollObj?.creatorDiscordId | longTextPipe}}
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{pollObj?.startDate | date: 'dd MMM, yyyy'}}
      </div>
    </div>
  </div>
  <div class="vertical-divider ht64 light-20"></div>
  <div class="poll-item-time-status d-flex flex-column align-items-center pd-lr-16">
    <div *ngIf="pollObj?.status === 'Active'">
      <div class="poll-item-time app-why-lbl f16 ft-bold secondary">
        {{[pollObj?.endDate, currentDateTime] | timeCounter}}
      </div>
      <div class="poll-item-time pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 secondary text-center">
        ACTIVE
      </div>
    </div>
    <div *ngIf="pollObj?.status === 'Pending'">
      <div class="poll-item-time app-why-lbl f16 ft-bold warning">
        -{{[pollObj?.startDate, currentDateTime] | timeCounter}}
      </div>
      <div class="poll-item-time pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 warning text-center">
        PENDING
      </div>
    </div>
    <div *ngIf="pollObj?.status === 'Quorum Failed'">
      <div class="poll-item-time app-why-lbl f16 ft-bold error">
        FINISHED
      </div>
      <div class="poll-item-time pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 error text-center">
        FAILED
      </div>
    </div>
    <div *ngIf="pollObj?.status === 'Quorum Passed'">
      <div class="poll-item-time app-why-lbl f16 ft-bold success">
        FINISHED
      </div>
      <div class="poll-item-time pd-top-4 app-why-lbl f10 ft-lato letter-spacing-02 success text-center">
        SUCCESS
      </div>
    </div>
    <div *ngIf="pollObj?.status === 'Draft'">
      <div class="poll-item-time app-why-lbl f16 ft-bold light-50">
        DRAFT
      </div>
    </div>
  </div>
  <div class="vertical-divider ht64 light-20"></div>
  <div class="poll-item-discord-button-container">
    <div class="poll-item-discord-button show-cursor"
         *ngIf="pollObj?.status !== 'Pending' && pollObj?.status !== 'Draft'"
         (click)="navigateToViewInDiscord(pollObj)">
      <ion-icon src="/assets/img/svg/discord-brands-primary.svg" class="app-why-icon ic18 primary"></ion-icon>
      <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold primary">
        VIEW IN
        DISCORD
      </div>
    </div>
    <div class="poll-item-discord-button show-cursor"
         *ngIf="(pollObj?.status === 'Quorum Passed' || pollObj?.status === 'Quorum Failed') && (hasPermission || pollObj?.hasPermission)"
         (click)="exportSummary(pollObj?.id)">
      <ion-icon name="cloud-download" class="app-why-icon ic18 light-70"></ion-icon>
      <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold light-70">
        EXPORT SUMMARY
      </div>
    </div>
    <div
      *ngIf="(pollObj?.status === 'Draft') && (hasPermission || pollObj?.hasPermission)"
      (click)="editPoll()"
      class="poll-item-discord-button auto-ht show-cursor">
      <ion-icon name="pencil-outline" class="app-why-icon ic18 light-70"></ion-icon>
      <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold light-70">
        EDIT
      </div>
    </div>
    <div
      *ngIf="(pollObj?.status === 'Draft' || pollObj?.status === 'Pending') && (hasPermission || pollObj?.hasPermission)"
      (click)="deletePoll()"
      class="poll-item-discord-button auto-ht  show-cursor">
      <ion-icon name="close-circle-outline" class="app-why-icon ic18 light-70"></ion-icon>
      <div class="view-in-discord pd-top-8 app-why-lbl f10 letter-spacing-02 ft-lato ft-bold light-70">
        DELETE
      </div>
    </div>
  </div>
</div>
