<app-why-header-side-nav
  [title]="'my servers'"
  [activeTab]="'MY SERVERS'"
  [activeSubMenuTab]="activeSubMenu"
  (profileClick)="navigateToMyServer()">
<div class="flex flex-nowrap">
    <div class="create-rule-header">
        <div class="back-button">
            <div class="pd-left-24 pd-top-21 pd-bottom-21">
                <app-why-cta-three [btnClass]="cssClass.cta3Primary" [btnLabel]="'Back'"
                [leftIconType]="'chevron-back'" [iconClass]="cssClass.cta3PrimaryIcon" (click)="navigateBack()">
                </app-why-cta-three>
            </div>
        </div>
    </div>
    <div class="create-rule-container d-flex flex-column mr-top-56">
        <div class="create-rule-content d-flex flex-column pd-top-24 pd-lr-40">
        <form [formGroup]="createRuleForm" (ngSubmit)="createRule()">
            <div class="rule-details-container d-flex flex-column" [hidden]="!(pageIndex==1)">
                <div class="rules-details-header-title app-why-lbl f16 ft-bold light">
                    RULE DETAILS
                </div>
                <div class="title-underline mr-top-8"></div>
                <div class="mr-top-48 pd-lr-78 form-control-wrapper">
                    <div class="form-group">
                        <input type="text" id="name" class="form-control app-why-floating-input"
                            placeholder=" " formControlName="name">
                        <label class="app-why-floating-lbl" for="name">Name</label>
                    </div>
                    <div class="form-group mr-top-40">
                        <input type="text" id="description" class="form-control app-why-floating-input"
                            placeholder=" " formControlName="description">
                        <label class="app-why-floating-lbl" for="description">Description</label>
                    </div>
                    <div class="d-flex mr-top-24 overflow-hidden">
                        <div ngbDropdown container="body">
                            <button type="button" class="link-dropdown app-why-lbl f12 ft-bold light-50"
                                    ngbDropdownToggle>SELECT ROLE
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                                <ng-container *ngFor="let role of roles">
                                    <button ngbDropdownItem class="pd-left-24 app-why-lbl f12 ft-bold no-letter-spacing"
                                            (click)="selectRule(role.id)">{{role.name}}
                                    </button>
                                    <div class="dropdown-divider"></div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="rule-action-button mr-top-24">
            <div class="rule-action-next">
                <app-why-cta-one
                [cssClass]="cssClass.cta1Norm + ' cursor-pointer next-button'"
                [iconType]="'add-circle-outline'"
                (click)="navigateNext()"
                [btnLabel]="'Next'"></app-why-cta-one>
            </div>
        </div>
    </div>
</div>
<!--</app-why-side-nav>-->
</app-why-header-side-nav>
