<app-why-header-side-nav
  [activeTab]="'MY SERVERS'"
  (profileClick)="navigateToMyServer()">
  <div class="flex flex-nowrap">
    <div class="search-bar-container my-server">
      <div class="d-flex justify-content-between back-button">
        <div class="pd-left-24 pd-top-21 pd-bottom-21">
          <app-why-cta-three [btnClass]="cssClass.cta3Primary" [btnLabel]="'Back'"
                             [leftIconType]="'chevron-back'" [iconClass]="cssClass.cta3PrimaryIcon"
                             (click)="navigateBack()">
          </app-why-cta-three>
        </div>
      </div>
      <div class="mr-right-24 add-server app-why-lbl f12 ft-bold primary">
        <app-why-cta-three
          [btnClass]="cssClass.cta3PrimaryNorm"
          [iconType]="'reader-outline'"
          (click)="navigateToAddNewServer()"
          [btnLabel]="'HOW TO ADD A NEW SERVER'"></app-why-cta-three>
      </div>
    </div>
    <div class="server-list flex justify-content-center align-items-center mr-top-56">
      <div class="server-item d-flex mr-bottom-8" *ngFor="let serverObj of myServerList">
        <div class="server-name-container d-flex align-items-start pd-top-28">
          <div class="server-logo mr-left-24">
            <img [src]="serverObj?.discordServerImage" imgFallback width="32" alt="logo" class="logo-wrapper">
          </div>
          <div class="server-name pd-left-16 app-why-lbl f22 ft-bold light">
            {{serverObj?.discordServerName}}
          </div>
          <!--            Commented based on call with Adam-->
          <!--<div class="server-name-right-icon pd-left-8 app-why-lbl f22">
            <ion-icon *ngIf="serverObj?.userOwnsLicense" name="key" class="app-why-icon light-20 ic14"></ion-icon>
            <ion-icon *ngIf="!serverObj?.userOwnsLicense" class="app-why-icon ic10 error"
                      name="warning"></ion-icon>
          </div>-->
        </div>
        <div class="divider"></div>
        <div class="server-details  d-flex justify-content-center pd-lr-16 pd-top-24">
          <div class="server-detail-item">
            <div class="server-detail-item-number app-why-lbl f16 text-center ft-lato light-70">
              {{serverObj?.memberCount}}
            </div>
            <div class="server-detail-item-label app-why-lbl f10 text-center ft-lato light-70">
              MEMBERS
            </div>
          </div>
          <div class="server-detail-item pd-left-8">
            <div class="server-detail-item-number app-why-lbl f16 text-center ft-lato light-70">
              {{serverObj?.memberCount}}
            </div>
            <div class="server-detail-item-label app-why-lbl f10 text-center ft-lato light-70">
              ADMINS
            </div>
          </div>
          <div class="server-detail-item pd-left-8">
            <div class="server-detail-item-number app-why-lbl f16 text-center ft-lato light-70">
              {{serverObj?.activeRoleCount}}
            </div>
            <div class="server-detail-item-label app-why-lbl f10 text-center ft-lato light-70">
              ACTIVE ROLES
            </div>
          </div>
          <!--            Commented based on call with Adam-->
          <!--<div class="server-detail-item pd-left-8">
            <div class="server-detail-item-number app-why-lbl f16 text-center ft-lato light-70">
              {{serverObj?.licences.length}}
            </div>
            <div class="server-detail-item-label app-why-lbl f10 text-center ft-lato light-70">
              LICENSES
            </div>
          </div>-->
        </div>
        <div class="divider"></div>
        <div class="server-icons d-flex justify-content-around pd-top-34 pd-lr-16 pd-right-16">
          <div *ngFor="let chainObj of serverObj?.blockchains">
            <img class="server-icon-container" [src]="chainObj?.imageUrl" alt="atom">
          </div>
        </div>
        <div class="divider"></div>
        <!--            Commented based on call with Adam-->
        <!--<div class="pd-top-34 visit-button d-flex justify-content-center"
             *ngIf="serverObj?.userOwnsLicense">-->
        <div class="pd-top-34 visit-button d-flex justify-content-center">
          <app-why-cta-three
            [btnClass]="cssClass.cta3PrimaryNorm + 'ft-bold letter-spacing-047'"
            [iconClass]="cssClass.cta3PrimaryIconNorm"
            [iconType]="'chevron-forward-outline'"
            (click)="navigateToDetails(serverObj?.discordServerId)"
            [btnLabel]="'VISIT'"></app-why-cta-three>
        </div>
        <!--            Commented based on call with Adam-->
        <!--<div *ngIf="!serverObj?.userOwnsLicense"
             class="add-license-button d-flex flex-column align-items-center justify-content-center text-center"
             (click)="navigateToAddLicense()">
          <ion-icon name="add-circle-outline" class="app-why-icon ic18 error"></ion-icon>
          <div class="add-license pd-top-8 app-why-lbl f10 letter-spacing-02 ft-bold error">ADD LICENSE</div>
        </div>-->
      </div>
    </div>
  </div>
</app-why-header-side-nav>
