<app-why-header
  [buttonLabel]="''"
  [profileObj]="profileObj"
  [title]="'Dashboard'"
  [subTitle]="''"></app-why-header>

<section class="pd-top-80 pd-left-24" style="background: var(--tertiary); height: 100%; overflow: scroll">

  <div class="pd-top-24">
    <app-why-cta-one
      (click)="navigateToWelcome()"
      [cssClass]="cssClass.cta1Md" [btnLabel]="'Welcome'"></app-why-cta-one>
  </div>

  <div class="pd-top-24">
    <app-why-cta-one
      (click)="showToast()"
      [cssClass]="cssClass.cta1Md" [btnLabel]="'Toast'"></app-why-cta-one>
  </div>

  <div class="pd-top-24">
    <app-why-cta-one
      [cssClass]="cssClass.cta1"
      [iconType]="'file-tray-full'"
      (click)="openModal()"
      [btnLabel]="'Connect wallet'"></app-why-cta-one>
  </div>

  <div class="pd-top-24 d-flex flex-nowrap">
    <div *ngFor="let i of [0,1,2,3,4]" style="padding-right: 8px; flex: 1; max-width: 300px; min-width: 210px">
      <div class="tile-1">
      </div>
    </div>
  </div>

  <div class="pd-top-24">
    <app-why-lunar-hq-cta-two
      [btnTheme]="'bg--dark'"></app-why-lunar-hq-cta-two>
  </div>

  <div class="pd-top-24">
    <app-why-cta-three [btnClass]="cssClass.cta3Primary" [btnLabel]="'Back'"
                       [leftIconType]="'chevron-back'"
                       [iconClass]="cssClass.cta3PrimaryIcon"></app-why-cta-three>
  </div>


  <div class="pd-top-24 d-flex justify-content-center" style="width: 36px;">
    <app-why-lunar-hq-social-links></app-why-lunar-hq-social-links>
  </div>

  <div class="pd-top-24 pd-bottom-80">
    <app-why-lunar-hq-logo></app-why-lunar-hq-logo>
  </div>
</section>

<app-why-modal id="popUpDemo" [popUpType]="'confirmation'">
  <!--<section class="modal-container">
    <section class="modal-wrapper">
      <article class="pd-top-48" style="width: 320px; margin: auto; min-height: 360px;display: flex;flex-direction: column;justify-content: center;">-->
  <app-why-modal-wrapper>
    <div class="app-why-lbl f22 ft-uni ft-medium light">Unlink discord ?</div>
    <div class="pd-top-32">
      <label class="app-why-lbl f16 ft-lato light-70">
        This will remove the link between Lunar Assistant and Discord.
      </label>
    </div>
    <!--<div class="pd-top-24">
      <label class="app-why-lbl f16 ft-lato light-70 pd-top-16">
        Your current profile will be saved but will no longer be updated if you change your
        Discord profile.
      </label>
    </div>-->
    <!--<div class="pd-top-24">
      <label class="app-why-lbl f16 ft-lato light-70 pd-top-16">
        Your current profile will be saved but will no longer be updated if you change your
        Discord profile.
      </label>
    </div>-->
    <!--<div class="pd-top-24">
      <label class="app-why-lbl f16 ft-lato light-70">
        You will no longer have access to Discord channels managed by Lunar Assistant.
      </label>
    </div>-->
    <div class="d-flex justify-content-between pd-top-56 pd-bottom-40">
      <div>
        <app-why-lunar-hq-cta-two
          [btnTheme]="'bg--dark'"></app-why-lunar-hq-cta-two>
      </div>
      <div>
        <app-why-cta-one
          [cssClass]="cssClass.cta1Md" [btnLabel]="'Unlink'"></app-why-cta-one>
      </div>
    </div>
  </app-why-modal-wrapper>

  <!--</article>
</section>
</section>-->
</app-why-modal>
