@use "src/style/mixin-core" as mixin;

.rules-details-header {
  height: mixin.toRem(64);
  width: calc(100% - 240px);
  background: var(--dark-50);
  position: fixed;
  margin-top: -112px;
  margin-left: -3.75rem;
  z-index: 10;
}

.back-button {
  display: flex;
  width: mixin.toRem(132);
  float: left;
}

.create-rule {
  position: relative;
  float: right;
  width: mixin.toRem(204);
  height: mixin.toRem(32);
}

.rules-details-container {
  //margin-bottom: 80px !important;
  //width: 40vw;
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  //width: 60vw;
  //min-width: mixin.toRem(718);
  //height: 68vh;
  padding-bottom: mixin.toRem(16);
  //height: mixin.toRem(657);
  background: var(--tertiary);

  &.no-bg {
    background: none;
  }
}

.title-underline {
  height: mixin.toRem(1);
  background: var(--light-20);
}

.rule-name-title {
  //width: mixin.toRem(272);
  //width: 23vw;
  width: calc(40% - 60px);
}

.population-title {
  width: mixin.toRem(96);
}

.chain-title {

}

.rules-item-name {
  //width: mixin.toRem(272);
  //width: 23vw;
  width: 40%;
}

.rules-item-id {
  width: mixin.toRem(95);
}

.rule-id-title {
  width: mixin.toRem(88);
}

.rules-item-population {
  //width: mixin.toRem(96);
  width: 11%;
}

.rules-item-chain {
  min-width: mixin.toRem(178);
  width: 32%;
  //width: 20vw;
}

.rules-item-chain-icon-container {
  width: mixin.toRem(24);
  height: mixin.toRem(24);
}

.divider {
  //margin-top: mixin.toRem(7);
  //margin-bottom: auto;
  height: mixin.toRem(42);
  width: mixin.toRem(1);
  background: var(--light-10);

  margin-top: auto !important;
  margin-bottom: auto !important;

}

.rules-content {
  //height: mixin.toRem(504);
  overflow-y: auto;
  overflow-x: hidden;

  &.list {
    overflow-y: scroll;
  }
}

.rules-item {
  //height: mixin.toRem(56);
  width: 100%;
  @include mixin.notch(8px);
  background: var(--dark-20);

  //&.my-role {
  height: mixin.toRem(64);
  //}

  .rules-item-view {
    cursor: pointer;
  }
}

.visit-button {
  width: 15%;
}

.rules-view {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: mixin.toRem(480);
  z-index: 1000;
  background-color: var(--tertiary);
  box-shadow: -(mixin.toRem(16)) mixin.toRem(2) mixin.toRem(18) 0 var(--bg-dark);
}

.block-chain-wrapper {
  overflow: scroll;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.discord-server-image-container {
  width: 2rem;
  height: 2rem;
  clip-path: polygon(0% 0px, 0px 0%, calc(100% - 8px) 0%, 100% 8px, 100% 100%, 100% 100%, 8px 100%, 0 calc(100% - 8px));
}

.add-dark-50 {
  background: var(--dark-50) !important;
}