<app-why-header-side-nav
  [title]="'my servers'"
  [activeTab]="'MY SERVERS'"
  [nestedMenu]="nestedMenu"
  [activeSubMenuTab]="ruleItems[0]?.discordServerName"
  [nestedMenuSelected]="'Rules'"
  (profileClick)="navigateToMyServer()">
  <div class="flex flex-nowrap">
    <div class="search-bar-container my-server">
      <div class="back-button">
        <div class="pd-left-24 pd-top-21 pd-bottom-21">
          <app-why-cta-three [btnClass]="cssClass.cta3Primary" [btnLabel]="'Back'"
                             [leftIconType]="'chevron-back'" [iconClass]="cssClass.cta3PrimaryIcon"
                             (click)="navigateBack()">
          </app-why-cta-three>
        </div>
      </div>
      <div class="mr-right-24 create-rule">
        <app-why-cta-one *ngIf="hasPermission"
          [cssClass]="cssClass.cta1Norm + ' cursor-pointer'"
          [iconType]="'add-circle-outline'"
          (click)="navigateToCreateRule()"
          [btnLabel]="'Create New Rule'"></app-why-cta-one>
      </div>
    </div>
    <div class="rules-details-container d-flex flex-column mr-top-56 pd-top-24 pd-left-40">
      <div class="rules-header-title d-flex justify-content-between pd-right-40">
        <div class="app-why-lbl f16 ft-bold light text-uppercase">
          {{ruleItems[0]?.discordServerName}} DISCORD RULES [ {{ruleItems?.length}} ]
        </div>
      </div>
      <div class="title-underline mr-top-8 mr-right-40"></div>
      <div class="rules-detail-title pd-top-16 d-flex flex-row pd-right-40 pd-left-60">
        <div class="rule-name-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
          ROLE NAME
        </div>
        <div class="rule-id-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
          RULE ID
        </div>
        <div class="population-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
          POPULATION
        </div>
        <div class="chain-title app-why-lbl f10 ft-lato light-50 letter-spacing-02">
          CHAIN
        </div>
      </div>
      <div class="rules-content mr-top-16 d-flex flex-column pd-right-40">
        <div class="rules-item d-flex flex-row align-items-center mr-bottom-8"
         *ngFor="let ruleObj of ruleItems"
         [ngClass]="{'add-dark-50': ruleObj?.held}">
          <div class="rules-item-name d-flex align-items-center">
            <div>
              <img class="mr-left-16 discord-server-image-container" [src]="ruleObj?.discordServerImage"
                   alt="discordServerImage">
            </div>
            <div class="pd-left-16">
              <div>
                <span class="app-why-lbl f16 ft-500 light add-rule-hover"
                      (click)="showRule(ruleObj)">{{ruleObj?.roleName}}</span>
                <span class="mr-left-2 app-why-lbl f10 ft-500 error letter-spacing-02 text-uppercase"
                      *ngIf="!ruleObj?.active">
                  Paused
                </span>
              </div>
              <div class="d-flex">
                  <div class="app-why-lbl f10 ft-lato secondary letter-spacing-02 text-uppercase"
                       *ngIf="ruleObj?.held">
                    HELD &nbsp;&nbsp;| &nbsp;
                  </div>
                  <div class="app-why-lbl f10 ft-lato light-50 letter-spacing-02 text-uppercase">
                    {{ruleObj?.discordServerName}}
                  </div>
                </div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="rules-item-id d-flex align-items-center pd-left-16 app-why-lbl f16 ft-500 light">
            {{ruleObj?.id}}
          </div>
          <div class="divider"></div>
          <div class="rules-item-population d-flex align-items-center pd-left-16 app-why-lbl f16 ft-bold light">
            {{ruleObj?.population}}
          </div>
          <div class="divider"></div>
          <div class="rules-item-chain d-flex justify-content-between">
            <div class="pd-left-16 app-why-lbl f16 ft-bold light block-chain-wrapper">{{ruleObj?.blockchainName === 'polygon-mainnet' ? 'Polygon' : ruleObj?.blockchainName}}</div>
            <div class="rules-item-chain-icon pd-left-16">
              <img class="rules-item-chain-icon-container mr-right-16" [src]="ruleObj?.blockchainImage" imgFallback
                   alt="chainImage">
            </div>
          </div>
          <div class="divider"></div>
          <div class="rules-item-view visit-button d-flex justify-content-center" (click)="showRule(ruleObj)">
            <div class="pd-left-20 app-why-lbl f12 ft-bold light-50 letter-spacing-047">VIEW</div>
            <ion-icon name="chevron-forward-outline" class="app-why-icon light-50 ic20"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="mr-top-40 mr-bottom-80 d-flex justify-content-center">
      <app-why-cta-three
        [btnClass]="cssClass.cta3BtnLabel + ' btn-hover'"
        [btnLabel]="'BACK TO TOP'"
        [leftIconType]="'chevron-up-outline'"
        [iconClass]="cssClass.cta3Icon + ' btn-hover'"
        [parentClass]="'flex-column'"
        (click)="goToTop()">
      </app-why-cta-three>
    </div>

    <div class="rules-view" [hidden]="!viewRule">
      <app-why-lunar-hq-rules-view [paused]="paused"
                                   [hasPermission]="hasPermission"
                                   [ruleObj]="ruleObj"
                                   (closeRule)="closeView()"
                                   (actionType)="ruleAction($event)"
                                   (updateRole)="updateRole($event)"></app-why-lunar-hq-rules-view>
    </div>
  </div>
  <!--</app-why-side-nav>-->
</app-why-header-side-nav>
