/* You can add global styles to this file, and also import other style files */

//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";
//@import "~bootstrap/scss/reboot";
//@import "~bootstrap/scss/grid";
// add the grid
//@import "~bootstrap/scss/utilities";
// add css utilities
@import "~ngx-toastr/toastr.css";

@import "~bootstrap/dist/css/bootstrap.css";

@import "src/style/index";

@import '~bs-stepper/dist/css/bs-stepper.min.css';

#toast-container > div {
  z-index: 9999;
  //position: fixed;
}

body {
  overflow-x: hidden;
}


.app-why-toast {
  position: fixed;
  top: 12px;
  color: white;
  z-index: 999;
  padding: 15px 15px 15px 15px;
  min-width: 300px;
  max-width: 420px;
  right: 24px;
  border-radius: 3px;
  background-size: 24px;
  box-shadow: 0 0 12px #999;
  font-size: 16px;
  line-height: 2px;
  background: #51a351 no-repeat 15px center;
  min-height: 54px;
  display: flex;
  align-items: center;

  &.error {
    background: #bd362f;
  }
}


* {
  scrollbar-width: thin;
  //scrollbar-color: var(--dark) orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-70);
  //background: var(--dark);
}

*::-webkit-scrollbar-thumb {
  //background-color: orange;
  background: var(--dark);
  border-radius: 20px;
  //border: 3px solid orange;
}
